.page-3{
 .body-wrapper{
   padding: 30px;
   margin-bottom: 13px;

   .page-3-body{
     padding: 40px;
     background-color: $LightSilver;

     .payment-schedule-table{
       padding: 30px 20px 20px;
       border: 2px dashed $Green;
     }

     .signature-box{
       .signature-signer{
         padding-top: 20px;
         border-top: 2px solid $Black;
       }

     }
   }
 }
}


