.page-2{
  .page-2-header{
    padding: 30px 0;
    background-color: $LightSilver;
    border-bottom: 1px solid $DarkSkin;

    .media{
      justify-content: center;
      .media-content{
        display: flex;
        align-items: center;
      }

      img{
        width: 110px;
      }
    }

  }

  .page-2-body{
    padding: 40px 45px 21px;

    .scope{
      margin-bottom: 30px;

      .labels{
        text-align: right;

        li{
          display: inline-block;
          margin-right: 50px;

          .tear-off-label, .dry-in-label, .final-installation-label{
            display: flex;
            align-items: center;
          }

          &:last-child{
            margin-right: 0;
          }
        }
      }
    }
  }
}




.sentences{
  .sentence-wrapper{
    display: flex;
    margin-bottom: 10px;
    padding: 20px;
    background-color: $White;
    border: 1px solid $DarkSkin;
    border-radius: 6px;

    .sentence-number-wrapper{
      display: flex;
      align-items: center;

      .sentence-number{
        width: 40px;
        height: 40px;
        margin-right: 15px;
        color: $White;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        font-weight: 700;
      }
    }
  }
}


