.page-1{

  &-body{
    padding: 90px 45px 20px;
    .proposal-roman-logo{
      margin-bottom: 90px;
      text-align: center;
      img{
        width: 638px;
      }
    }
    .proposal-detail{
      .proposal-type-heading{
        font-size: 40px;
        font-weight: 900;
        text-align: center;
        margin-bottom: 30px;
      }
      ul.job-type-icons{
        text-align: center;
        margin-bottom: 20px;
        li{
          display: inline-block;
          img{
            width: 127px;
          }
        }
      }
      .estimate-signer-detail{
        text-align: center;
        margin-bottom: 90px;
        img{
          width: 18px;
          margin-right: 5px;
        }
        .estimate-signer-name{
          font-size: 34px;
          font-weight: 700;

        }
      }
    }
    .award-icons{
      &-top, &-bottom{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        img{
          width: 220px;
        }
      }
    }
  }
}

.did-you-know{
  background: transparent linear-gradient(90deg, #FFFFFF65 0%, #EBEAE8 28%, #EBEAE8 76%, #FFFFFF67 100%) 0% 0% no-repeat padding-box; padding: 20px 0;border-radius: 70px;
  img{
    width: 100%;
    max-width: 100%;
  }

  .icon-stars{
    width: 170px;
    vertical-align: baseline;
  }

  h1{
    font-size: 38px;
    font-weight: 900;
    color: #272727;



  }
}

@media screen and (max-width: 320px){
  .page-1{

    &-body{
      padding: 40px 0 20px;
      .proposal-roman-logo{
        margin-bottom: 40px;
        text-align: center;
        img{
          width: 210px;
        }
      }
      .proposal-detail{
        .proposal-type-heading{
          font-size: 16px;
          font-weight: 900;
          text-align: center;
          margin-bottom: 30px;
        }
        ul.job-type-icons{
          text-align: center;
          margin-bottom: 20px;
          li{
            display: inline-block;
            img{
              width: 90px;
            }
          }
        }
        .estimate-signer-detail{
          text-align: center;
          margin-bottom: 90px;
          img{
            width: 18px;
            margin-right: 5px;
          }
          .estimate-signer-name{
            font-size: 16px;
            font-weight: 700;

          }
        }
      }
      .award-icons{
        &-top, &-bottom{
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
          img{
            width: 100px;
          }
        }
      }
    }
  }
}


