
.page-4{
  .page-4-header{
    padding: 40px 0;
    .page-4-title{
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      color: $Black;
      margin-bottom: 0;
    }
  }

  .page-4-body{

    padding: 0 40px;
    margin-bottom: 30px;

    .table-wrapper{
      padding: 30px;
      background-color: $LightSilver;

      table{
        margin-bottom: 30px;
        .table-heading{
          font-size: 20px;
          font-weight: 700;
        }
        .table-description{
          font-size: 16px;
        }
      }
    }

  }


}

