@media screen and (max-width: 1800px){
  ul.steps-progress-bar_current-jobs {
    li {
      h6 {
        font-size: 10px;
      }

    }
  }
}
@media screen and (max-width: 1271px){
  ul.steps-progress-bar_current-jobs {
    li {
      h6 {
        font-size: 6px;
      }

    }
  }
}
@media screen and (max-width: 1024px) {
  ul.steps-progress-bar_upcoming-jobs {
    li {
      h6 {
        font-size: 13px;
      }

    }
  }
}

@media screen and (max-width: 768px) {
  ul.steps-progress-bar_upcoming-jobs{
    li{
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      color: $Black;
      margin-bottom: 0px;
      padding-bottom: 60px;

      h6{
        margin-bottom: 0;
        font-size: 22px;
      }

      span{
        padding: 0 10px;
      }

      span.list-bdr-right{
        @include list-bdr-right(10px)
      }


      &:before{
        content: '';
        position: absolute;
        width: 4px;
        border-right: 2px dashed $Green;
        background-color: unset;
        top: -100%;
        left: 12.5px;
        transition: all .7s ease;
        height: 100%;
      }

      &:after{
        content: '';
        display: block;
        background-color: #FFFFFF;
        border: 1px solid $Green;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: initial;
        border-radius: 50%;
        transition: all .7s ease;
        position: absolute;
        top: 0;

        z-index: 1;
      }

      &:first-child{
        &:before{
          content: none;
        }
      }

    }

    li.active{

      &:after{
        background-color: $Green;
        border: 1px solid $Green;
        color: #FFFFFF;
      }

      & + li:before{
        border-right: 4px solid $Green;
      }
    }
  }

  ul.steps-progress-bar_current-jobs{
    li{
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      color: $Black;
      margin-bottom: 0px;
      padding-bottom: 60px;

      h6{
        margin-bottom: 0;
        font-size: 22px;
      }

      span{
        padding: 0 10px;
      }

      span.list-bdr-right{
        @include list-bdr-right(10px)
      }


      &:before{
        content: '';
        position: absolute;
        width: 4px;
        border-right: 2px dashed $Green;
        background-color: unset;
        top: -100%;
        left: 12.5px;
        transition: all .7s ease;
        height: 100%;
      }

      &:after{
        content: '';
        display: block;
        background-color: #FFFFFF;
        border: 1px solid $Green;
        width: 30px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        margin: initial;
        border-radius: 50%;
        transition: all .7s ease;
        position: absolute;
        top: 0;

        z-index: 1;
      }

      &:first-child{
        &:before{
          content: none;
        }
      }

    }

    li.active{

      &:after{
        background-color: $Green;
        border: 1px solid $Green;
        color: #FFFFFF;
      }

      & + li:before{
        border-right: 4px solid $Green;
      }
    }
  }
}
@media screen and (max-width: 576px) {
  ul.steps-progress-bar_upcoming-jobs{
    li{
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      color: $Black;
      margin-bottom: 0px;
      padding-bottom: 30px;

      h6{
        margin-bottom: 0;
        font-size: 16px;
      }

      span{
        padding: 0 10px;
      }

      span.list-bdr-right{
        @include list-bdr-right(10px)
      }


      &:before{
        content: '';
        position: absolute;
        width: 4px;
        border-right: 2px dashed $Green;
        background-color: unset;
        top: -100%;
        left: 8px;
        transition: all .7s ease;
        height: 100%;
      }

      &:after{
        content: '';
        display: block;
        background-color: #FFFFFF;
        border: 1px solid $Green;
        width: 20px;
        height: 20px;
        line-height: 30px;
        text-align: center;
        margin: initial;
        border-radius: 50%;
        transition: all .7s ease;
        position: absolute;
        top: 0;

        z-index: 1;
      }

      &:first-child{
        &:before{
          content: none;
        }
      }

    }

    li.active{

      &:after{
        background-color: $Green;
        border: 1px solid $Green;
        color: #FFFFFF;
      }

      & + li:before{
        border-right: 4px solid $Green;
      }
    }
  }

  ul.steps-progress-bar_current-jobs{
    li{
      position: relative;
      display: block;
      width: 100%;
      text-align: center;
      color: $Black;
      margin-bottom: 0px;
      padding-bottom: 30px;

      h6{
        margin-bottom: 0;
        font-size: 16px;
      }

      span{
        padding: 0 10px;
      }

      span.list-bdr-right{
        @include list-bdr-right(10px)
      }


      &:before{
        content: '';
        position: absolute;
        width: 4px;
        border-right: 2px dashed $Green;
        background-color: unset;
        top: -100%;
        left: 8px;
        transition: all .7s ease;
        height: 100%;
      }

      &:after{
        content: '';
        display: block;
        background-color: #FFFFFF;
        border: 1px solid $Green;
        width: 20px;
        height: 20px;
        line-height: 30px;
        text-align: center;
        margin: initial;
        border-radius: 50%;
        transition: all .7s ease;
        position: absolute;
        top: 0;

        z-index: 1;
      }

      &:first-child{
        &:before{
          content: none;
        }
      }

    }

    li.active{

      &:after{
        background-color: $Green;
        border: 1px solid $Green;
        color: #FFFFFF;
      }

      & + li:before{
        border-right: 4px solid $Green;
      }
    }
  }
}


