<main *ngIf="!verified" [ng2-loading]="loader">
    <div class="estimation-detail">
      <div class="container-fluid">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <div class="estimation-detail-wrapper">
              <div class="mb-3" *ngIf="structure">
                <div class="row">
                  <div class="col-md-8">
                    <div class="estimation-name mb-3">
                      <a class="btn-back-arrow" (click)="routerNavigator('estimation/open-estimation')"><i
                        class="far fa-long-arrow-alt-left"></i> Back</a>
                      <span class="f-s-20 fw-700 m-r-22" *ngIf="structure.estimates && structure.estimates[0].product_info.roof_type=='Shingles'">Shingle Estimations</span>
                      <span class="f-s-20 fw-700 m-r-22" *ngIf="structure.estimates && structure.estimates[0].product_info.roof_type=='Tile'">Tile Estimations</span>
                      <span class="f-s-20 fw-700 m-r-22" *ngIf="structure.estimates && structure.estimates[0].product_info.roof_type=='Metal'">Metal Estimations</span>
                      <span class="f-s-20 fw-700 m-r-22" *ngIf="structure.claim && structure.claim.claim_type_id=='0'">AOB</span>
  
                      <small>
                        <span class="clr-orange m-r-5">Received on</span>
                        <ul class="receive-date inline-list" *ngIf="structure.estimates">
                          <li class="list-bdr-right">{{ structure.estimates[0].created_at | date:'shortDate'}}</li>
                          <li>{{ structure.estimates[0].created_at |  date:'shortTime'}}</li>
                        </ul>
                        <ul class="receive-date inline-list" *ngIf="structure.claim && structure.claim.claim_type_id=='0'">
                          <li class="list-bdr-right">{{ structure.claim.created_at | date:'shortDate'}}</li>
                          <li>{{ structure.claim.created_at |  date:'shortTime'}}</li>
                        </ul>
                      </small>
                    </div>
                  </div>
                 <div class="col-md-4">
                   <div class="text-right">
                    <a [href]="pdfSrc" class="btn-primary-odie btn-xs-odie" download="aob.pdf" target="_blank">Download it!</a>
  
  
                  </div>
                </div>
              </div>
            </div>
            <!-- <button class="btn-primary-odie btn-xs-odie" (click)="printPdf()">Print PDF</button> -->
  
              <div class="estimation-detail-box mb-4" style="width: 80%;margin:0 auto;">
                <!-- <div class="estimation-detail-box mb-4"> -->
                  <div class="detail-box-body">
  
  

  
                  <pdf-viewer [src]="pdfSrc"
                  [render-text]="true"
                  [original-size]="false"
                  style="height: calc(100vh - 150px);"
                  (after-load-complete)="callBackFn($event)"
                  ></pdf-viewer>
  

  
  
                </div>
              </div>
              <div class="estimation-detail-box-bottom bg-clr-light-silver">
                <div class="add-signature-box">
                  <div class="btn-and-date">
  
                    <!--Show this when the SIGNATURE is added-->
  
                    <div class="signature-img d-none">
                      <img src="assets/images/e-sign/signature.png" alt="signature.png">
                    </div>
  
                    <!--END-->
  
                    <!--Hide this Button when the SIGNATURE is added-->
  
                    <button *ngIf="!signature_confirmed" type="button"
                            class="btn-primary-odie btn-md-odie fw-600 mr-4 border-0" data-toggle="modal"
                            data-target="#addSignatureModal">
                      Add Signature
                    </button>
                    <img *ngIf="signature_confirmed" [src]="signature.image" width="200px" height="100px">
  
                    <!--END-->
  
                    <div class="signature-date" *ngIf="signature_confirmed">
                      <p class="mb-0 clr-orange">Date</p>
                      <ul class="inline-list">
                        <li>{{current_date | date}}</li>
                        <!-- <li>07</li> -->
                      </ul>
                    </div>
  
                    <!--Show this Button when the SIGNATURE is added-->
  
                    <button *ngIf="signature_confirmed" type="button"
                            class="btn-primary-odie btn-md-odie fw-600 mr-4 border-0 ml-3 change-signature-btn"
                            data-toggle="modal" data-target="#addSignatureModal">
                      Change Signature
                    </button>
  
                    <!--END-->
                  </div>
  
                  <div class="finish-btn">
                    <button *ngIf="signature_confirmed" type="button"
                            class="btn-primary-odie btn-md-odie fw-600 mr-4 border-0" data-toggle="modal"
                            data-target="#finishSignatureModal">
                      Finish
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
 
  
    </div>
  
    <!--Add Signature Modal-->
  
    <div class="modal fade largest-modal" id="addSignatureModal" tabindex="-1" aria-labelledby="addSignatureModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header bg-clr-skin border-0">
            <h5 class="modal-title primary-black fw-600" id="addSignatureModalLabel"><i class="fas fa-file-signature"></i>
              Add Signature</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span (click)="signaturePad.clear()" aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="primary-black fw-600 text-center mb-5">Please add your signature with your Name and Initials</h4>
            <form #form="ngForm">
              <div class="form-row mb-4">
                <div class="form-group col-md-5">
                  <label class="clr-orange required-star fw-700" for="fullName">Full Name</label>
                  <input type="text" class="form-control" id="fullName" name="full_name" required
                         placeholder="Enter Your Full Name" [(ngModel)]="signature.full_name" #fullName="ngModel">
                  <p style="z-index: 1;position: relative;font-size: 50px;" id="selected_font"></p>
                  <!-- <input style="opacity: .4;" type="text" id="selected_font" value="" name="selected_font" [(ngModel)]="signature.full_name"> -->
  
                  <span class="clr-red" *ngIf="fullName.invalid && (fullName.dirty || fullName.touched)">
                    <small *ngIf="fullName.errors.required" class="form-control-feedback">
                      This is a required field.
                    </small>
                  </span>
                </div>
  
                <div class="col-md-2"></div>
  
              </div>
              <div class="form-row">
                <div class="form-group col-md-4">
                  <div class="form-check">
                    <label class="custom-radio-btn clr-orange">Draw Your Signature
                      <input type="radio" id="draw" name="radio" checked (click)="signatureSelectionChanged('draw')">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
                <!-- <div class="form-group col-md-4">
                  <div class="form-check">
                    <label class="custom-radio-btn">Create Your Signature
                      <input type="radio" id="create" name="radio" (click)="signatureSelectionChanged('create')">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div> -->
                <div class="form-group col-md-4">
                  <div class="form-check">
                    <label class="custom-radio-btn">Upload Your Signature
                      <input type="radio" id="upload" name="radio" (click)="signatureSelectionChanged('upload')">
                      <span class="checkmark"></span>
                    </label>
                  </div>
                </div>
              </div>
  
              <div class="form-group p-0" *ngIf="signature_type==='create'">
                <label class="clr-orange required-star fw-700" for="fullName">Choose Your Style</label>
                <div class="row">
                  <div class="col-md-5">
                    <div class="mb-4">
                      <select class="form-control" (change)="fontSelectionChanged($event.target.value)">
                        <option>Choose Your Style For Signature</option>
                        <option value="Pacifico">Pacifico</option>
                        <option value="Sacramento">Sacramento</option>
                      </select>
                    </div>
                  </div>
                </div>
                <img [src]="font_img" alt="">
                <!-- <textarea class="form-control resize-none bg-clr-light-silver" rows="6"></textarea> -->
              </div>
  
              <div class="form-group" *ngIf="signature_type==='draw'">
                <div class="signature-drawing-box">
                  <signature-pad [options]="signaturePadOptions" (onBeginEvent)="drawStart()"
                                 (onEndEvent)="drawComplete()"></signature-pad>
                </div>
              </div>
  
              <div class="dropzone" *ngIf="signature_type==='upload'">
                <div class="container" appDnd (fileDropped)="onFileDropped($event)">
                  <input type="file" #fileDropRef id="fileDropRef" (change)="fileChange($event)"
                         accept="image/jpeg, image/png"/>
                  <h3 class="clr-orange"><i class="fas fa-cloud-upload-alt mr-2"></i> Drag and drop file here</h3>
                  <h3 class="or-separator clr-orange">or</h3>
                  <label class="Browse File" for="fileDropRef">Browse File</label>
                </div>
  
  
                <div class="files-list" *ngIf="image_read">
                  <div class="single-file">
                    <div class="file-icon" style="width: 50px">
                      <img [src]="image_url">
                      {{image_name}} {{image_type}}
                    </div>
  
                    <div class="delete" (click)="deleteFile()">
                      DELETE ICON
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer border-0">
            <button type="button" class="btn-secondary-odie btn-md-odie mr-3" data-dismiss="modal"
                    (click)="signaturePad.clear()">Cancel
            </button>
            <button *ngIf="signature_type==='draw'" type="button" class="btn-primary-odie btn-md-odie"
                    [disabled]="!(form.form.valid) || !signature_drawn" (click)="signature_confirmed=true;"
                    data-dismiss="modal">Confirm Signature
            </button>
            <button *ngIf="signature_type==='create'" type="button" class="btn-primary-odie btn-md-odie"
                    [disabled]="!(form.form.valid) || !font_selected" (click)="createConfirmed();" data-dismiss="modal">
              Confirm Signature
            </button>
            <button *ngIf="signature_type==='upload'" type="button" class="btn-primary-odie btn-md-odie"
                    [disabled]="!(form.form.valid) || !image_read " (click)="uploadConfirmed();" data-dismiss="modal">
              Confirm Signature
            </button>
          </div>
        </div>
      </div>
    </div>
  
  
    <!--Add Signature Modal End-->
  
  
    <!-- Finish Signature Modal-->
  
    <div class="modal fade largest-modal show" id="finishSignatureModal" tabindex="-1"
         aria-labelledby="finishSignatureModalLabel" aria-hidden="true" >
      <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content" [ng2-loading]="loader2">
          <div class="modal-header bg-clr-skin border-0">
            <h5 class="modal-title primary-black fw-600" id="finishSignatureModalLabel"><i
              class="fas fa-file-signature"></i> 2-Step Verification</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close" id="dismiss_modal">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <h4 class="primary-black fw-600 text-center">Please confirm and add Your Signature by</h4>
            <h4 class="primary-black fw-600 text-center mb-5">2-Step Verification</h4>
  
            <!--Show This While GENERATING Pin-->
  
            <div *ngIf="!pin_generated">
              <form>
                <div class="form-row">
                  <div class="form-group col-md-4">
                    <div class="form-check">
                      <label class="custom-radio-btn clr-orange">Email Me Pin
                        <input type="radio" name="radio" checked (click)="pin_type='email'">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group col-md-4">
                    <div class="form-check">
                      <label class="custom-radio-btn">SMS Me Pin
                        <input type="radio" name="radio" (click)="pin_type='phone'">
                        <span class="checkmark"></span>
                      </label>
                    </div>
                  </div>
                </div>
  
                <div class="option-msg">
                  <p *ngIf="pin_type==='email'">6 digit pin will be sent to your email <b>{{params.email}}</b></p>
                  <p *ngIf="pin_type==='phone'">6 digit pin will be sent to your mobile <b>{{ formatPhoneNumber(structure.property.customer.phone,structure.property.customer.country_code) }}</b> </p>
                </div>
  
                <div class="finish-signature-btns">
                  <button type="button" class="btn-secondary-odie btn-md-odie mr-3" data-dismiss="modal">Cancel</button>
                  <button type="button" class="btn-primary-odie btn-md-odie" (click)="sendVerficationPin()">Generate and
                    Send Pin
                  </button>
                </div>
  
              </form>
            </div>
  
            <!--END-->
  
            <!--Show This While VERIFYING Pin-->
  
            <form *ngIf="pin_generated">
  
              <div>
                <p class="clr-orange">Enter 6 Digit Verification Pin</p>
                <div class="input-group mb-3">
                  <div class="input-group-prepend">
                    <span class="input-group-text" id="basic-addon1"><i class="fas fa-lock-alt"></i></span>
                  </div>
                  <input type="text" maxlength="6" class="form-control" placeholder="_____" aria-label="Username"
                         aria-describedby="basic-addon1" name="verification_pin" [(ngModel)]="signature.verification_pin">
                  <div class="input-group-append">
                     <span class="input-group-text d-none">
  
                       <!--Verified Icon-->
  
                       <i class="far fa-check"></i>
  
                       <!--END-->
  
                       <!--Verified Icon-->
  
                       <i class="far fa-times"></i>
  
                       <!--END-->
                     </span>
                  </div>
                </div>
  
                <div class="verify-pin-btns w-100">
                  <button type="button" class="btn-secondary-odie btn-md-odie ml-0 mr-3" (click)="resendVerficationPin()">
                    Re-Send Pin
                  </button>
                  <button type="button" class="btn-primary-odie btn-md-odie ml-0" (click)="verifyVerficationPin()">
                    Verify
                  </button>
                </div>
              </div>
  
            </form>
  
            <!--END-->
  
  
          </div>
  
          <div class="modal-footer border-0">
  
            <!--Show This While GENERATING Pin-->
  
  
            <!--END-->
  
            <!--Show This While VERIFYING Pin-->
  
  
            <!--END-->
  
          </div>
        </div>
      </div>
    </div>
  
  
    <!--Finish Signature Modal End-->
  
  </main>
  
  
  <div class="col-md-8 col-lg-7 col-xl-5 mx-auto" *ngIf="verified">
    <div class="signed-estimate-pdf-box pending-estimate-border">
      <div class="signed-estimate-pdf-box-header bg-clr-grey">
        <ul class="inline-list">
          <li class="list-bdr-right pl-0">
            <p class="heading-s-20 m-0"><i
              class="fas fa-map-marker-alt mr-2"></i> {{claim.property.full_address}}</p>
          </li>
          <li>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='main_house'"><i class="fas fa-home mr-2"></i>
              Main House</p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='detached_garage'"><i
              class="fas fa-home mr-2"></i> Detached Garage</p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='pool_house'"><i class="fas fa-home mr-2"></i>
              Pool House</p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='boat_house'"><i class="fas fa-home mr-2"></i>
              Boat House</p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='secondary_house'"><i
              class="fas fa-home mr-2"></i> Secondary House</p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='store'"><i class="fas fa-home mr-2"></i> Store
            </p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed
            </p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House
            </p>
            <p class="heading-s-20 m-0" *ngIf="claim.structure.name=='other'"><i class="fas fa-home mr-2"></i> Other
            </p>
          </li>
        </ul>
      </div>
      <div class="signed-estimate-pdf-box-body">
        <div class="row">
          <div class="col-md-4">
            <div class="pdf-icon">
              <img class="img-fluid" src="assets/images/dashboard/icon-pdf.svg" alt="icon-pdf.svg">
            </div>
          </div>
          <div class="col-md-8">
            <div class="pdf-details">
              <div class="estimate-pdf-details">
                <h5 class="heading-s-20">AOB</h5>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <p class="clr-orange fw-700 mb-0">Insurance Type</p>
                  <p class="clr-black f-s-15">{{claim.claim_type_id=='0'?'Assignment of Benefits':'Direction to Pay'}}</p>
                </div>
                <div class="col-md-6">
                  <p class="clr-orange fw-700 mb-0">Insurance Carrier</p>
                  <p class="clr-black f-s-15">{{claim.insurance_carrier.name}}</p>
                </div>
                <div class="col-md-6">
                  <p class="clr-orange fw-700 mb-0">Status</p>
                  <p class="clr-black f-s-15">{{claim.claim_status }}</p>
                </div>
                <!-- <div class="col-md-6 mt-auto" *ngIf="estimate.product_info.color_image!=null">
                  <div class="product-info">
                    <img class="product-img mr-2" [src]="estimate.product_info.color_image" alt="dummy-shingle.jpg">
                    <span class="f-s-15 primary-black">{{estimate.product_info.color_name}}</span>
                  </div>
                </div> -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="signed-estimate-pdf-box-footer bg-clr-grey">
        <div class="pending-estimate-box">
          <!-- <i class="far fa-check text-white align-middle"></i> -->
        </div>
        <div class="row">
          <div class="col-md-8">
            <ul class="inline-list">
              <li class="list-bdr-right-ht-10"><span
                class="clr-orange fw-700 mr-2">Received On:</span> {{claim.created_at | date : 'shortDate'}}</li>
              <li>{{claim.created_at | date : 'shortTime'}}</li>
            </ul>
          </div>
          <div class="col-md-4">
            <div class="text-right">
              <p class="mb-0 fw-700 clr-orange estimate-agreement-status">Pending</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="thanks-msg">
      <h1>Thanks For Signing The</h1>
      <h1 class="clr-orange">AOB</h1>
  
      <p class="text-center fw-700">Your signed AOB will appear in claims section in your portal after few seconds!</p>
    </div>
  
  
    <div class="estimation-job-status">
      <p>To Check The Status of Your Job</p>
      <a class="btn-primary-odie btn-md-odie" (click)="dashboard()">Go To Your Dashboard</a>
    </div>
  </div>
  
  