
@import "../../../../scss/buttons";
@import "../../.././../scss/variables";
@import "../../../../scss/mixins";

$OpacityWhite60: rgba(255,255,255,.6);

.estimation-detail{
  .estimation-detail-wrapper{
    .estimation-name{
      ul{
        display: inline-block;

        li{
          padding: 0 10px;

          &.list-bdr-right{
            @include list-bdr-right(10px);
          }
        }
      }
    }
    .estimation-detail-box{
      //height: calc(100vh - 470px);
      border: 1px solid $DarkSkin;

        .detail-box-body{

          h5{
            font-size: 20px;
            font-weight: 600;
          }
        }
    }

    .estimation-detail-box-bottom{
      padding: 45px 50px;

      .add-signature-box{
        display: flex;
        justify-content: space-between;
        align-items: center;

        .btn-and-date{
          display: flex;
          align-items: center;

          .signature-img{
            img{
              width: 91px;
              margin-right: 30px;
            }
          }
        }
      }
    }
  }
}






.dropzone{

  .container {
    width: 100%;
    height: 244px;
    padding: 2rem;
    text-align: center;
    border: 2px dashed $DarkGrey3;
    position: relative;
    margin: 0 auto;

    input {
      opacity: 0;
      position: absolute;
      z-index: 2;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      cursor: pointer;
    }

    label {
      color: $Black;
      border: 1px solid $DarkSkin;
      border-radius: 6px;
      background-color: $OpacityWhite60;
      font-size: 18px;
      padding: 12px 65px;
      font-weight: 700;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
      color: #38424c;
    }
  }

  .or-separator{
    position: relative;

    &:before, &:after{
      content: '';
      position: absolute;
      top: 70%;
      background-color: $Orange;
      width: 90px;
      height: 2px;
    }

    &:before{
      left: 37%;
    }
    &:after{
      right: 37%;
    }
  }

}
.fileover {
  animation: shake 1s;
  animation-iteration-count: infinite;
}

.files-list {
  margin-top: 1.5rem;

  .single-file {
    display: flex;
    padding: 0.5rem;
    justify-content: space-between;
    align-items: center;
    border: dashed 1px #979797;
    margin-bottom: 1rem;

    .delete {
      display: flex;
      margin-left: 0.5rem;
      cursor: pointer;
      align-self: flex-end;
    }


    display: flex;
    flex-grow: 1;

    .name {
      font-size: 14px;
      font-weight: 500;
      color: #353f4a;
      margin: 0;
    }

    .size {
      font-size: 12px;
      font-weight: 500;
      color: #a4a4a4;
      margin: 0;
      margin-bottom: 0.25rem;
    }

    .info {
      width: 100%
    }
  }
}

.signature-drawing-box{
  border: 1px solid $DarkSkin;
  background-color: $LightSilver;
}


@media screen and (max-width: 767px){
.estimation-detail{
  .estimation-detail-wrapper{
    .estimation-name{
      span.f-s-20{
        display: block;
      }
    }

    .estimation-detail-box-bottom{
      padding: 15px;

      .add-signature-box{
        display: block;

        .btn-and-date{
          display: block;
          button{
            width: 100%;
          }

          .signature-date{
            text-align: center;
            margin: 20px 0;
            p{
              margin-right: 10px;
            }
            p,ul{
              display: inline-block;
            }
          }

          .change-signature-btn{
            width: 100%;
            margin-left: 0 !important;
            margin-right: 0 !important;
            margin-bottom: 20px;
          }
        }

        .finish-btn{
          button{
            width: 100%;
          }
        }

      }
    }
  }
}
}


/* Shake animation */
@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

@import "proposal";

@import "../../../../scss/variables";

  .signed-estimate-pdf-box{
    border: 1px solid $Green;
    margin-bottom: 50px;

    &-header{
      padding: 18px 20px;
    }

    &-body{
      padding: 30px;
    }

    &-footer{
      position: relative;
      padding: 3px 14px 3px 44px;
    }

    .product-manufaturer-img, .product-img{
      width: 24px;
    }

    .vertical-length-img{
      width: 133px;
    }
  }

  .accepted-estimate-box{
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: $Green;
  }

  .pending-estimate-box{
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: $Orange;
  }


.thanks-msg{
  margin-bottom: 60px;

  h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
  }
}

.estimation-job-status{
  text-align: center;

  p{
    font-size: 20px;
    font-weight: 700;
  }
}



@media screen and (max-width: 767px){
  .signed-estimate-pdf-box{

    &-header{
      padding: 18px 15px;

      ul.inline-list{
       padding: 0;

       li{
         padding: 0;

         p{
           font-size: 13px;
         }

       }
     }
    }

    &-body{
      padding: 30px 15px;

      .pdf-icon{
        text-align: center;
        margin-bottom: 30px;
      }

      .product-manufaturer-img, .product-info{
        img{
          width: 65px;
        }
        .vertical-length-img{
          width: 133px;
        }
      }

      .product-info{
        margin-bottom: 30px;
      }
    }

    &-footer{
      ul.inline-list{
        li{
          font-size: 13px;
        }
      }
    }
  }

  .thanks-msg{
    h1{
      font-size: 24px;
    }
  }
  .estimate-agreement-status{
    display: none;
  }
}
