.pdf-table{
  border-collapse: separate;
  border-spacing: 5px;
  tr{
    th{
      color: $White;
    }
    td{
      color: $Black;
    }
  }
  tr{
    th{
      background-color: $Green;
    }
  }
  tr{
    td{
      background-color: $DarkSkin-2;
    }
  }
}
