<header>
  <div class="e-sign-header">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12 col-lg-4">
          <div class="header-logo">
            <img src="assets/images/dashboard/odie-logo.svg" alt="logo.png"  style="width: 150px;">
          </div>
        </div>
        <div class="col-md-12 col-lg-8" *ngIf="data">
          <div class="job-location">
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='reroof' && data.estimates && data.estimates[0] && data.estimates[0].product_info.roof_type=='Shingles'">Shingle Estimate For</span>
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='reroof' &&  data.estimates && data.estimates[0] && data.estimates[0].product_info.roof_type=='Tile'">Tile Estimate For</span>
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='reroof' &&  data.estimates && data.estimates[0] && data.estimates[0].product_info.roof_type=='Metal'">Metal Estimate For</span>
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='repair' &&  data.estimates && data.estimates[0] && data.estimates[0].product_info.roof_type=='Shingles'">Shingle Estimate For</span>
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='repair' &&  data.estimates && data.estimates[0] && data.estimates[0].product_info.roof_type=='Tile'">Tile Estimate For</span>
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='repair' &&  data.estimates && data.estimates[0] && data.estimates[0].product_info.roof_type=='Metal'">Metal Estimate For</span>
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='new_construction' ">Upload BluePrints For</span>
            <span class="estimate-type clr-orange fw-600" *ngIf="data.project_type=='reroof' && data.claim && data.claim.claim_type_id=='0'">Insurance Claim (Assignment of Benefits)</span>

            <ul>
              <li class="list-bdr-right">
                <i class="fas fa-map-marker-alt"></i>
                <span>{{data.property.full_address}}</span>
              </li>
              <li>
                <i class="fas fa-home"></i>
                <span *ngIf="data.name=='main_house'">Main House</span>
                <span *ngIf="data.name=='detached_garage'">Detached Garge</span>
                <span *ngIf="data.name=='pool_house'">Pool House</span>
                <span *ngIf="data.name=='boat_house'">Boat House</span>
                <span *ngIf="data.name=='secondary_house'">Secondary House</span>
                <span *ngIf="data.name=='store'">Store</span>
                <span *ngIf="data.name=='other'">Other</span>



              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
