@import "../../../scss/buttons";
@import "../../../scss/variables";

.e-sign-header{
  padding: 40px 35px;

  .job-location{
    text-align: right;
    span.estimate-type{
      margin-right: 10px;
    }
    ul{
      display: inline-block;

      li{
        display: inline-block;
        padding: 0 15px;

        i{
          margin-right: 15px;
        }
      }
    }
  }
}

/*MEDIA QUERIES */

@media screen and (max-width: 1199px){
  .e-sign-header{

    .job-location{
      text-align: left;
      ul{
        li{
          font-size: 13px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px){
  .e-sign-header{

    .header-logo{
      text-align: center;
      margin-bottom: 30px;
    }

    .job-location{
      text-align: center;
      ul{
        li{
          font-size: 18px;
        }
      }
    }
  }


}


@media screen and (max-width: 767px) {
  .e-sign-header{
    padding: 25px 0;

    .header-logo{
      text-align: center;
      margin-bottom: 30px;
    }

    .job-location{
      text-align: left;
      ul{
        li{
          &:first-child{
            padding-left: 0;
          }
        }
      }
    }
  }
}


@media screen and (max-width: 320px){
  .e-sign-header{
    padding: 25px 0;

    .header-logo{
      text-align: center;
      margin-bottom: 30px;
    }

    .job-location{
      text-align: left;
      span{
        font-size: 14px;
        text-align: center;
      }
      ul{
        li{
          padding: 0;
          font-size: 12px;


        }
      }
    }
  }
}

