

<div [ng2-loading]="loader" style="height: 100vh;" *ngIf="!customer">
</div>
<section *ngIf="customer">
  <!--  <div class="container-fluid" >-->
  <!--    <div class="dashboard-welcome bg-clr-light-silver" >-->
  <!--      <div class="welcome-title" style="background-image: url('assets/images/dashboard/bg-welcome.svg')">-->
  <!--        <div class="row">-->
  <!--          <div class="col-md-9">-->
  <!--            <div class="user-name">-->
  <!--              <h1>Welcome</h1>-->
  <!--              <h2>{{user.first_name}} {{user.last_name}}</h2>-->
  <!--            </div>-->
  <!--          </div>-->
  <!--          <div class="col-md-3">-->
  <!--            <img src="assets/images/dashboard/welcome-img.svg" alt="welcome-img.svg">-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </div>-->

  <div class="container-fluid">
    <div class="dashboard-welcome mb-4">
      <div class="row no-gutters">
        <div class="col-xl-6 order-2 order-xl-1">
          <div class="banner-description section-padding-equal-md">
            <p class="heading-primary-cportal">A Message from Norm, our CEO,</p>
            <p class="font-size-md-2">
              I want to thank you personally for giving Roman Roofing the opportunity to evaluate your roofing needs. It
              seems like not so long ago when I started in this business shortly after Hurricane Charley. I worked as
              part of a tear-off crew and slowly learned the business. After 10 years, I had grown frustrated by the
              lack of customer care and compassion for the workers who perform their craft in extreme conditions.
              Consequently, my wife and I founded Roman (named after our eldest of three sons) six years ago with the
              vision of reinventing the service and delivery of traditional roofing services.
            </p>
            <p class="font-size-md-2">
              The Roman family takes tremendous pride in our work product. While I can appreciate that roofing services
              is not something you are likely excited about, we are humbled at the possibility of earning your trust and
              business. If you have time, I encourage you to take a moment to learn more about our corporate charitable
              services.
            </p>
          </div>
        </div>
        <div class="col-xl-6 order-1 order-xl-2">
          <div class="banner-img">
            <img class="img-fluid" src="assets/images/dashboard/crew-photo.jpg" alt="banner crew image">
          </div>
        </div>
      </div>
    </div>
  </div>

</section>
<!--DAMAGE PHOTOS SLIDER-->
<section *ngIf="customer">
  <div class="container-fluid mb-5"
       *ngIf="customer.last_project.last_property.last_structure.last_two_estimates.length>0">
    <div class="dashboard-damage-photos bg-clr-grey">
      <h4 class="heading-s-20">Recent Damage Media Roll</h4>

      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide
                     *ngFor="let photo of customer.last_project.last_property.last_structure.structure_media">
          <div class="damage-photo-card">
            <div class="card">
              <a class="venobox" data-gall="damage-photo" href="{{photo.url}}">
                <img class="card-img-top img-fluid" [src]="photo.url" alt="Card image cap">
              </a>
              <div class="card-body p-0">
                <!--<p class="clr-dark-grey-1 fw-700"><i class="fas fa-map-marker-alt"></i> 1323 South West 7, Cape Coral, FL
                </p>
                <p class="clr-dark-grey-1 fw-700"><i class="fas fa-home-lg"></i> Main House</p>-->
                <!--                <p class="clr-dark-grey-1 fw-700">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy-->
                <!--                  text of the printing and…</p>-->
              </div>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>


    </div>
  </div>
</section>

<!--DAMAGE PHOTOS SLIDER END-->

<div class="container-fluid" *ngIf="customer">
  <div class="assigned-estimator bg-clr-light-silver"
       *ngIf="current_date < customer.last_project.last_property.last_appointment.start ">
    <div class="container-fluid">
      <div class="assigned-estimator bg-clr-light-silver">
        <div class="row">
          <div class="col-md-8">
            <div class="media">
              <div class="estimator-img mr-5">
                <img [src]="customer.last_project.last_property.last_appointment.estimator.avatar_image_location"
                     class="estimator-img" alt="dummy-img.jpg">
                <img class="icon-estimator" src="assets/images/dashboard/icon-estimator.svg" alt="icon-estimator.svg">
              </div>
              <div class="media-body">
                <h3
                  class="primary-black mb-0">{{customer.last_project.last_property.last_appointment.estimator.first_name}} {{customer.last_project.last_property.last_appointment.estimator.last_name}}</h3>
                <p class="clr-orange">Estimator</p>
                <div class="stars mb-4 d-none">
                  <i class="fas fa-star clr-orange"></i>
                  <i class="fas fa-star clr-orange"></i>
                  <i class="fas fa-star clr-orange"></i>
                  <i class="fas fa-star clr-orange"></i>
                  <i class="fas fa-star clr-dark-grey-3"></i>
                </div>

                <div class="row">
                  <div class="col-lg-4">
                    <ul class="estimator-info">
                      <li>
                        <p class="clr-blue fw-700">
                          <img src="assets/images/dashboard/icons/dashboard-icons/interest-1.png" alt="interest-1 icon"> {{ getInterest(customer.last_project.last_property.last_appointment.estimator.interests, 0) }}
                        </p>
                      </li>
                      <li>
                        <p class="clr-blue fw-700">
                          <img src="assets/images/dashboard/icons/dashboard-icons/interest-2.png" alt="interest-2 icon"> {{ getInterest(customer.last_project.last_property.last_appointment.estimator.interests, 1) }}
                        </p>
                      </li>
                      <li>
                        <p class="clr-blue fw-700">
                          <img src="assets/images/dashboard/icons/dashboard-icons/interest-3.png" alt="interest-3 icon"> {{ getInterest(customer.last_project.last_property.last_appointment.estimator.interests, 2) }}
                        </p>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-8">
                    <ul class="estimator-info">
                      <li>
                        <p class="clr-dark-grey-1"><i class="fas fa-envelope"></i> <a
                          href="mailto:{{customer.last_project.last_property.last_appointment.estimator.email}}">{{customer.last_project.last_property.last_appointment.estimator.email}}</a>
                        </p>
                      </li>
                      <li *ngIf="show_number">
                        <p class="clr-dark-grey-1"><i class="far fa-mobile-android-alt"></i> <a
                          href="tel:{{customer.last_project.last_property.last_appointment.estimator.cell_phone}}">{{ formatPhoneNumber(customer.last_project.last_property.last_appointment.estimator.cell_phone) }}</a>
                        </p>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4" *ngIf="!show_number">
            <div class="text-center text-md-right">
              <a class="btn-secondary-odie btn-sm-odie" (click)="show_number=true;">Show Number</a>
            </div>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>

<div class="upcoming-appointments mb-5" *ngIf="customer">
  <div class="container-fluid">
    <div class="upcoming-appointments-list">
      <div class="mb-3">
        <div class="row">
          <div class="col-md-6 my-auto">
            <h3 class="primary-black f-s-20 fw-700"
                *ngIf="current_date  > customer.last_project.last_property.last_appointment.start ">Past
              Appointment</h3>
            <h3 class="primary-black f-s-20 fw-700"
                *ngIf="current_date < customer.last_project.last_property.last_appointment.start ">Upcoming
              appointment</h3>
          </div>
          <div class="col-md-6">
            <div class="text-right d-none d-md-block">
              <a class="btn-secondary-odie" (click)="navigate('/customer/appointments',5)">View All Appointments</a>
            </div>
          </div>
        </div>
      </div>
      <div class="appointments-wrapper">
        <div class="appointment-box">
          <div class="row">
            <div class="col-md-2 order-4 order-md-1">
              <ul class="inline-list">
                <li
                  class="primary-black list-bdr-right pl-0">{{customer.last_project.last_property.last_appointment.start | date : 'shortDate'}}</li>
                <li
                  class="primary-black">{{customer.last_project.last_property.last_appointment.start | date : 'shortTime'}}</li>
              </ul>
            </div>
            <div class="col-md-6 order-2 order-md-2">
              <div class="text-center">
                <ul class="inline-list">
                  <li class="">
                    <p class="m-0"><i
                      class="fas fa-map-marker-alt mr-2"></i> {{customer.last_project.last_property.full_address}}</p>
                  </li>
                  <!-- <li>
                    <p class="m-0"><i class="fas fa-home mr-2"></i> Main House</p>
                  </li> -->
                </ul>
              </div>
            </div>
            <div class="col-md-2 order-1 order-md-2">
              <div class="media">
                <img [src]="customer.last_project.last_property.last_appointment.estimator.avatar_image_location"
                     class="mr-3" alt="dummy-img.jpg">
                <div class="media-body">
                  <h6
                    class="primary-black mt-0 mb-1 fw-700">{{customer.last_project.last_property.last_appointment.estimator.first_name}} {{customer.last_project.last_property.last_appointment.estimator.last_name}}</h6>
                    <p class="clr-orange fw-700 mb-0" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='evaluation'">Your Estimator</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='followup'">Your Estimator</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster Crew</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='dry_in_crew_scheduled'">Dry In Crew</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='final_crew_scheduled'">Installation Crew</p>
                </div>
              </div>
            </div>
            <div class="col-md-2 order-4 order-md-4">
              <p class="primary-black fw-700 m-0 text-center text-md-right"><i
                class="fas fa-calendar-alt clr-orange mr-2"></i>
                Free Estimate</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center d-block d-md-none mt-3">
        <a class="btn-secondary-odie btn-xs-odie" [routerLink]="['/customer/appointments']">View All Appointments</a>
      </div>
    </div>
  </div>
</div>
<section *ngIf="customer">
  <div class="recent-estimate mb-5"
       *ngIf="customer.last_project.last_property.last_structure.last_two_estimates.length>0">
    <div class="container-fluid">
      <div class="mb-3">
        <div class="row">
          <div class="col-md-6 my-auto">
            <h3 class="primary-black f-s-20 fw-700">Recent Estimates</h3>
          </div>
          <div class="col-md-6">
            <div class="text-right d-none d-md-block">
              <a class="btn-secondary-odie" (click)="navigate('/customer/estimates',6)">View All Estimate(s)</a>
            </div>
          </div>
        </div>
      </div>

      <div class="row" (click)="navigate('/customer/estimates',6)">
        <div class="col-md-6"
             *ngFor="let estimate of customer.last_project.last_property.last_structure.last_two_estimates">
          <div class="estimate-pdf-box"
               [ngClass]="estimate.is_signed ? 'accepted-estimate-border' : 'rejected-estimate-border'">
            <div class="estimate-pdf-box-header bg-clr-grey">
              <ul class="inline-list">
                <li class="list-bdr-right pl-0">
                  <p class="heading-s-20 m-0"><i
                    class="fas fa-map-marker-alt mr-2"></i> {{customer.last_project.last_property.full_address}}</p>
                </li>
                <li>
                  <p class="heading-s-20 m-0"
                     *ngIf="customer.last_project.last_property.last_structure.name=='main_house'"><i
                    class="fas fa-home mr-2"></i> Main House </p>
                  <p class="heading-s-20 m-0"
                     *ngIf="customer.last_project.last_property.last_structure.name=='detached_garage'"><i
                    class="fas fa-home mr-2"></i> Detached Garage </p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='car_port'"><i class="fas fa-home mr-2"></i> Car Port</p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House</p>
                  <p class="heading-s-20 m-0" *ngIf="customer.last_project.last_property.last_structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
                </li>
              </ul>
            </div>
            <div class="estimate-pdf-box-body">
              <div class="row">
                <div class="col-md-4">
                  <div class="pdf-icon-img">
                    <img class="img-fluid" src="assets/images/dashboard/icon-pdf.svg" alt="icon-pdf.svg">
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="pdf-details" >
                    <div class="estimate-pdf-details" *ngIf="customer.last_project.last_property.last_structure.project_type=='reroof'">
                      <h5 class="heading-s-20"
                          *ngIf="customer.last_project.last_property.last_structure.name=='main_house'">Turnkey Reroof
                        to the Main House</h5>
                      <h5 class="heading-s-20"
                          *ngIf="customer.last_project.last_property.last_structure.name=='detached_garage'">Turnkey
                        Reroof to the Detached Garage</h5>
                      <h5 class="heading-s-20"
                          *ngIf="customer.last_project.last_property.last_structure.name=='pool_house'">Turnkey Reroof
                        to the Pool House</h5>
                      <h5 class="heading-s-20"
                          *ngIf="customer.last_project.last_property.last_structure.name=='boat_house'">Turnkey Reroof
                        to the Boat House</h5>
                      <h5 class="heading-s-20"
                          *ngIf="customer.last_project.last_property.last_structure.name=='secondary_house'">Turnkey
                        Reroof to the Secondary House</h5>
                      <h5 class="heading-s-20" *ngIf="customer.last_project.last_property.last_structure.name=='store'">
                        Turnkey Reroof to the Store</h5>
                      <h5 class="heading-s-20" *ngIf="customer.last_project.last_property.last_structure.name=='shed'">
                        Turnkey Reroof to the Shed</h5>
                      <h5 class="heading-s-20"
                          *ngIf="customer.last_project.last_property.last_structure.name=='guest_house'">Turnkey Reroof
                        to the Guest House</h5>
                      <h5 class="heading-s-20" *ngIf="customer.last_project.last_property.last_structure.name=='other'">
                        Turnkey Reroof to the Other</h5>
                    </div>

                      <div class="estimate-pdf-details" *ngIf="customer.last_project.last_property.last_structure.project_type=='repair'">
                        <h5 class="heading-s-20"
                            *ngIf="customer.last_project.last_property.last_structure.name=='main_house'">Turnkey Repair
                          to the Main House</h5>
                        <h5 class="heading-s-20"
                            *ngIf="customer.last_project.last_property.last_structure.name=='detached_garage'">Turnkey
                            Repair to the Detached Garage</h5>
                        <h5 class="heading-s-20"
                            *ngIf="customer.last_project.last_property.last_structure.name=='pool_house'">Turnkey Repair
                          to the Pool House</h5>
                        <h5 class="heading-s-20"
                            *ngIf="customer.last_project.last_property.last_structure.name=='boat_house'">Turnkey Repair
                          to the Boat House</h5>
                        <h5 class="heading-s-20"
                            *ngIf="customer.last_project.last_property.last_structure.name=='secondary_house'">Turnkey
                            Repair to the Secondary House</h5>
                        <h5 class="heading-s-20" *ngIf="customer.last_project.last_property.last_structure.name=='store'">
                          Turnkey Repair to the Store</h5>
                        <h5 class="heading-s-20" *ngIf="customer.last_project.last_property.last_structure.name=='shed'">
                          Turnkey Repair to the Shed</h5>
                        <h5 class="heading-s-20"
                            *ngIf="customer.last_project.last_property.last_structure.name=='guest_house'">Turnkey Repair
                          to the Guest House</h5>
                        <h5 class="heading-s-20" *ngIf="customer.last_project.last_property.last_structure.name=='other'">
                          Turnkey Repair to the Other</h5>
                      </div>

                    <div class="row">
                      <div class="col-md-6">
                        <p class="clr-orange fw-700 mb-0">Material Type</p>
                        <p class="clr-black f-s-15">{{estimate.product_info.roof_sub_type}}</p>
                      </div>
                      <div class="col-md-6">
                        <p class="clr-orange fw-700 mb-0">Underlayment</p>
                        <p class="clr-black f-s-15">{{estimate.product_info.underlayment_name}}</p>
                      </div>
                      <div class="col-md-6">
                        <p class="clr-orange fw-700 mb-0">Product Info</p>
                        <div class="product-info">
                          <img *ngIf="estimate.product_info.manufacturer_icon_url!=null" class="product-manufaturer-img mr-4" [src]="estimate.product_info.manufacturer_icon_url"
                               alt="gaf.png">
                          <span *ngIf="estimate.product_info.product_line_name">{{estimate.product_info.product_line_name}} {{estimate.product_info.series_name}}</span>

                          <!-- <img src="assets/images/dashboard/icon-timberlineHDZ.png" alt="icon-timberlineHDZ.png"> -->
                        </div>
                      </div>
                      <div class="col-md-6 mt-auto">
                        <div class="product-info" *ngIf="estimate.product_info.color_image!=null">
                          <img class="product-img mr-2" [src]="estimate.product_info.color_image"
                               alt="dummy-shingle.jpg">
                          <span class="f-s-15 primary-black">{{estimate.product_info.color_name}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="estimate-pdf-box-footer bg-clr-grey">
              <div class="rejected-estimate-box" *ngIf="!estimate.is_signed"></div>
              <div class="accepted-estimate-box" *ngIf="estimate.is_signed"><i
                class="far fa-check text-white align-middle"></i></div>

              <div class="row">
                <div class="col-md-8">
                  <ul class="inline-list">
                    <li class="list-bdr-right-ht-10">{{estimate.created_at | date : 'shortDate'}}</li>
                    <li>{{estimate.created_at | date : 'shortTime'}}</li>
                  </ul>
                </div>
                <div class="col-md-4" *ngIf="!estimate.is_signed">
                  <div class="text-right">
                    <p class="mb-0 clr-red fw-700">Not Signed</p>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="estimate.is_signed">
                  <div class="text-right">
                    <p class="mb-0 clr-green fw-700">Signed</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center d-block d-md-none mt-3">
        <a class="btn-secondary-odie" (click)="navigate('/customer/estimates',6)">View All Estimate(s)</a>
      </div>
    </div>
  </div>
</section>

<div class="upcoming-services" *ngIf="customer">
  <div class="container-fluid" *ngIf="customer.last_project.is_project">
    <h3 class="heading-s-20 mb-3">Recent Service</h3>
    <div class="job-block-wrapper ">
      <a (click)="navigate('/customer/current-jobs',4)" [routerLinkActive]="['is-active']">
        <div class="job-block bg-clr-light-silver border-clr-red">
          <div class="row">
            <div class="col-md-3">
              <div class="job-img">
                <img *ngIf="!customer.last_project.last_property.last_structure.main_image" class="img-fluid"
                     src="assets/images/placeholder-property.png" alt="placeholder-property.png">

                <img *ngIf="customer.last_project.last_property.last_structure.main_image" class="img-fluid"
                     [src]="customer.last_project.last_property.last_structure.main_image"
                     alt="service-img.jpg">
              </div>
            </div>
            <div class="col-md-9">
              <div class="job-details">
                <div class="job-header">
                  <div class="job-address">
                    <div class="row">
                      <div class="col-md-7">
                        <ul>
                          <li>
                            <i class="fas fa-map-marker-alt"></i>
                            <p
                              class="mb-0 clr-dark-grey-1 list-bdr-right">{{customer.last_project.last_property.full_address}}</p>
                          </li>
                          <li>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='main_house'"><i
                              class="fas fa-home mr-2"></i> Main House</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='detached_garage'"><i
                              class="fas fa-home mr-2"></i> Detached Garage</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='pool_house'"><i
                              class="fas fa-home mr-2"></i> Pool House</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='boat_house'"><i
                              class="fas fa-home mr-2"></i> Boat House</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='secondary_house'"><i
                              class="fas fa-home mr-2"></i> Secondary House</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='store'"><i
                              class="fas fa-home mr-2"></i> Store</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='shed'"><i
                              class="fas fa-home mr-2"></i> Shed</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='guest_house'"><i
                              class="fas fa-home mr-2"></i> Guest House</p>
                            <p class="mb-0 clr-dark-grey-1"
                               *ngIf="customer.last_project.last_property.last_structure.name=='other'"><i
                              class="fas fa-home mr-2"></i> Other</p>
                          </li>
                        </ul>
                      </div>
                      <div class="col-md-5">
                        <div class="job-type text-right">
                          <p class="clr-black"
                             *ngIf="customer.last_project.last_property.last_structure.project_type=='reroof'"><span
                            class="clr-orange">Service Type:</span> Roof Replacement</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="job-timeline">
                  <ul class="steps-progress-bar_upcoming-jobs" *ngIf="customer.last_project.last_property.last_structure.customer_milestones == 'estimator_scheduled'  || customer.last_project.last_property.last_structure.customer_milestones == 'assessment_completed' || customer.last_project.last_property.last_structure.customer_milestones == 'estimation_received' || customer.last_project.last_property.last_structure.customer_milestones == 'job_signed'">

                    <li [ngClass]="{'active':(customer.last_project.last_property.last_structure.customer_milestones == 'estimator_scheduled'  || customer.last_project.last_property.last_structure.customer_milestones == 'assessment_completed' || customer.last_project.last_property.last_structure.customer_milestones == 'estimation_received' || customer.last_project.last_property.last_structure.customer_milestones == 'job_signed')}">
                      <h6 class="fw-600 f-s-16">Estimator Scheduled</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                    <li [ngClass]="{'active':(customer.last_project.last_property.last_structure.customer_milestones == 'assessment_completed' || customer.last_project.last_property.last_structure.customer_milestones == 'estimation_received' || customer.last_project.last_property.last_structure.customer_milestones == 'job_signed')}">
                      <h6 class="fw-600 f-s-16">Assessment Completed</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                    <li [ngClass]="{'active':(customer.last_project.last_property.last_structure.customer_milestones == 'estimation_received' || customer.last_project.last_property.last_structure.customer_milestones == 'job_signed')}">
                      <h6 class="fw-600 f-s-16">Estimations Received</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                    <li [ngClass]="{'active':(customer.last_project.last_property.last_structure.customer_milestones == 'job_signed')}">
                      <h6 class="fw-600 f-s-16">Job E-Signed</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                  </ul>
                  <ul class="steps-progress-bar_current-jobs" *ngIf="customer.last_project.last_property.last_structure.customer_milestones == 'permit_applied'  || customer.last_project.last_property.last_structure.customer_milestones == 'dry_in_scheduled' || customer.last_project.last_property.last_structure.customer_milestones == 'final_scheduled' || customer.last_project.last_property.last_structure.customer_milestones == 'job_completed'">

                    <li [ngClass]="{'active':(customer.last_project.last_property.last_structure.customer_milestones == 'permit_applied'  || customer.last_project.last_property.last_structure.customer_milestones == 'dry_in_scheduled' || customer.last_project.last_property.last_structure.customer_milestones == 'final_scheduled' || customer.last_project.last_property.last_structure.customer_milestones == 'job_completed')}" >
                      <h6 class="fw-600 f-s-16">Permit Applied</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                    <li [ngClass]="{'active':(customer.last_project.last_property.last_structure.customer_milestones == 'dry_in_scheduled' || customer.last_project.last_property.last_structure.customer_milestones == 'final_scheduled' || customer.last_project.last_property.last_structure.customer_milestones == 'job_completed')}">
                      <h6 class="fw-600 f-s-16">Tear Off Crew Scheduled</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                    <li [ngClass]="{'active':( customer.last_project.last_property.last_structure.customer_milestones == 'final_scheduled' || customer.last_project.last_property.last_structure.customer_milestones == 'job_completed')}">
                      <h6 class="fw-600 f-s-16">Installation Crew Scheduled</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                    <li [ngClass]="{'active':( customer.last_project.last_property.last_structure.customer_milestones == 'job_completed')}">
                      <h6 class="fw-600 f-s-16">Job Completed</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                    <li>
                      <h6 class="fw-600 f-s-16">Final Payment</h6>
                      <!-- <div class="mb-2">
                        <span class="f-s-12 list-bdr-right">04/18/21</span>
                        <span class="f-s-12">07:00 PM</span>
                      </div> -->
                    </li>

                  </ul>
                </div>

                <div class="job-rating">
                  <div class="rate-info">
                    <div class="designation">
                      <p class="mb-0 clr-black" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='evaluation'">Roof Inspector</p>
                      <p class="mb-0 clr-black" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='followup'">Roof Inspector</p>
                      <p class="mb-0 clr-black" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster Crew</p>
                      <p class="mb-0 clr-black" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='dry_in_crew_scheduled'">Dry In Crew</p>
                      <p class="mb-0 clr-black" *ngIf="customer.last_project.last_property.last_appointment.appointment_type=='final_crew_scheduled'">Installation Crew</p>
                      <p class="mb-0"></p>
                    </div>
                    <div class="stars d-none">
                      <i class="fas fa-star clr-orange"></i>
                      <i class="fas fa-star clr-orange"></i>
                      <i class="fas fa-star clr-orange"></i>
                      <i class="fas fa-star clr-orange"></i>
                      <i class="fas fa-star clr-dark-grey-3"></i>
                    </div>
                  </div>
                  <!-- {{customer.last_project.last_property}} -->
                  <img class="img-50 rounded-circle"
                       [src]="customer.last_project.last_property.last_appointment.estimator.avatar_image_location"
                       alt="dummy-user-img.png">
                </div>

              </div>
            </div>
          </div>
        </div>
      </a>
      <!-- <div class="error-box bg-clr-pink">
        <div class="warning-icon bg-clr-red p-all-20">
          <i class="fas fa-exclamation-triangle text-white f-s-30"></i>
        </div>
        <div class="warning-detail-wrapper">
          <div class="warning-info">
            <ul class="clr-red">
              <li>Initial Payment</li>
              <li>NOC</li>
              <li>Color Selection of Shingle</li>
              <li>Gate Code</li>
            </ul>
          </div>
          <a class="btn-primary-odie bg-clr-red ml-auto text-white" data-toggle="modal" href="#resolveIssues">Resolve Issues</a>
        </div>
      </div> -->
    </div>
  </div>
</div>

<div class="upcoming-services_small-devices d-none" *ngIf="customer">
  <div class="upcoming-services">
    <div class="container-fluid">
      <h3 class="heading-s-20 mb-3">Recent Service/Job</h3>
      <div class="job-block-wrapper error-border">
        <a href="">
          <div class="job-block bg-clr-light-silver border-clr-red">
            <div class="row">
              <div class="col-md-3">
                <div class="job-img">
                  <img class="img-fluid" [src]="customer.last_project.last_property.last_structure.main_image"
                       alt="service-img.jpg">
                </div>
              </div>
              <div class="col-md-9">
                <div class="job-details">
                  <div class="job-header">
                    <div class="job-address">
                      <div class="row">
                        <div class="col-md-7">
                          <ul>
                            <li>
                              <i class="fas fa-map-marker-alt"></i>
                              <p class="mb-0 clr-dark-grey-1">1323 South West 7, Cape Coral, FL</p>
                            </li>
                            <li>
                              <i class="fas fa-home-lg"></i>
                              <p class="mb-0 clr-dark-grey-1">Main House</p>
                            </li>
                          </ul>
                        </div>
                        <div class="col-md-5">
                          <div class="job-type mt-3">
                            <p class="clr-black"><span class="clr-orange">Service Type:</span> Roof Replacement</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="job-timeline">
                    <ul class="steps-progress-bar_upcoming-jobs-smaller-devices">

                      <li class="active">
                        <h6 class="fw-600 f-s-16">Estimator Scheduled</h6>
                        <div class="mb-2">
                          <span class="f-s-12 list-bdr-right">04/18/21</span>
                          <span class="f-s-12">07:00 PM</span>
                        </div>
                      </li>

                      <li>
                        <h6 class="fw-600 f-s-16">Assessment Completed</h6>
                        <div class="mb-2">
                          <span class="f-s-12 list-bdr-right">04/18/21</span>
                          <span class="f-s-12">07:00 PM</span>
                        </div>
                      </li>

                      <li>
                        <h6 class="fw-600 f-s-16">Estimations Received</h6>
                        <div class="mb-2">
                          <span class="f-s-12 list-bdr-right">04/18/21</span>
                          <span class="f-s-12">07:00 PM</span>
                        </div>
                      </li>

                      <li>
                        <h6 class="fw-600 f-s-16">Job E-Signed</h6>
                        <div class="mb-2">
                          <span class="f-s-12 list-bdr-right">04/18/21</span>
                          <span class="f-s-12">07:00 PM</span>
                        </div>
                      </li>

                    </ul>
                  </div>

                  <div class="job-rating">
                    <div class="rate-info">
                      <div class="designation">
                        <p class="clr-black">Roof Inspector</p>
                        <p class="mb-0"></p>
                      </div>
                      <div class="stars">
                        <i class="fas fa-star clr-orange"></i>
                        <i class="fas fa-star clr-orange"></i>
                        <i class="fas fa-star clr-orange"></i>
                        <i class="fas fa-star clr-orange"></i>
                        <i class="fas fa-star clr-dark-grey-3"></i>
                      </div>
                    </div>
                    <img class="img-50 rounded-circle" src="assets/images/dashboard/dummy-user-img.png"
                         alt="dummy-user-img.png">
                  </div>

                </div>
              </div>
            </div>
          </div>
        </a>
        <div class="error-box bg-clr-pink d-none">
          <div class="warning-icon bg-clr-red p-all-20">
            <i class="fas fa-exclamation-triangle text-white f-s-30"></i>
          </div>
          <div class="warning-detail-wrapper">
            <div class="warning-info">
              <ul class="clr-red">
                <li>Initial Payment</li>
                <li>NOC</li>
                <li>Color Selection of Shingle</li>
                <li>Gate Code</li>
              </ul>
            </div>
            <a class="btn-primary-odie bg-clr-red ml-auto text-white" data-toggle="modal" href="#resolveIssues">Resolve
              Issues</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal resolve-issues-modal fade" id="resolveIssues" tabindex="-1" aria-labelledby="resolveIssuesLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-xxl">
    <div class="modal-content">
      <div class="modal-header bg-clr-red">
        <h5 class="modal-title text-white" id="resolveIssuesLabel">Resolve Following Issues to Proceed your Job</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <div class="issue">
              <h5 class="heading-s-20">Unpaid Security Deposit</h5>
              <p class="heading-s-20">
                To start you job please Contact Marcus or call at 261 5585 598
              </p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="issue">
              <h5 class="heading-s-20">NOC</h5>
              <p class="heading-s-20">
                Please download the NOC document, Sign and send to roman
              </p>
              <a class="btn-primary-odie btn-sm-odie" href="#">Download NOC Document</a>
            </div>
          </div>
          <div class="col-md-6">
            <div class="issue border-0">
              <h5 class="heading-s-20">Color Selection for Shingle / Tiles / Metal</h5>
              <div class="color-selection mb-4">
                <span class="heading-s-20 align-middle mr-3">Show Premium Colors Only</span>
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="color-palletes text-center">
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                </div>
              </div>
              <a class="btn-primary-odie btn-sm-odie" href="#">Confirm</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



