@import "../../../scss/variables";

//
//
//.dashboard-welcome{
//  padding: 20px;
//  margin-bottom: 30px;
//
//  .welcome-title{
//    background-size: cover;
//    background-repeat: no-repeat;
//    background-position: center;
//
//    .user-name{
//      padding: 60px 0 0 85px;
//
//      h1{
//        font-size: 90px;
//        font-weight: 700;
//        margin-bottom: 0;
//      }
//      h2{
//        font-size: 70px;
//      }
//    }
//  }
//}

.dashboard-welcome{
  .banner-description, .banner-img{
    height: 100%;
  }
  .banner-description{
    box-shadow: 0 0px 15px rgb(153 153 153 / 50%);
  }
  .banner-img{
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.dashboard-damage-photos{
  padding: 40px;

  h4{
    padding-bottom: 30px;
  }
}



.estimator-img{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.assigned-estimator{
  padding: 40px;
  margin-bottom: 50px;

  .media{
    .estimator-img{
      position: relative;

      .icon-estimator{
        position: absolute;
        right: 20%;
        bottom: -1%;
      }
    }
    .media-body{
      h3,p{
        font-weight: 700;
      }
      h3{
        font-size: 20px;
      }

      .stars{
        i{
          font-size: 24px;
          margin-right: 5px;
        }
      }
      .estimator-info{
        li{

          p{

            a{
              display: inline-block;
              color: $DarkGrey1;
              margin-left: 3px;
            }

            i{
              margin-right: 3px;
            }
          }

        }
      }
    }
  }
}

.upcoming-appointments{

  .appointments-wrapper{
    .appointment-box{
      padding: 18px 30px;
      background-color: $Grey;
      border-radius: 6px;

      .row{
        align-items: center;
      }

      ul.inline-list{

        li{
          color: $Black;
          font-weight: 700;
          padding: 0 15px;
        }
      }
      .media{
        img{
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
        h6{
          font-size: 16px;
        }
        p{
          font-size: 13px;
        }
      }
    }
  }
}

.estimate-pdf-box{
  &-header{
    padding: 18px 20px;

    ul.inline-list{
      li{
        padding: 0 15px;
      }
    }
  }
  &-body{
    padding: 30px;

    .pdf-details{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .product-info{
      .product-manufaturer-img{
        width: 24px;
        height: 24px;
      }
      .product-img{
        width: 24px;
        height: 24px;
      }
    }
  }

  &-footer{
    position: relative;
    padding: 3px 14px 3px 44px;
    ul.inline-list{

      &:before{
        content: 'Received On:';
        color: $Orange;
        font-weight: 700;
        margin-right: 5px;
      }
      li{
        font-size: 14px;
      }
    }

  }
}

.rejected-estimate-box{
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $Red;
}
.rejected-estimate-border{
  border: 1px solid $Red;
}



.upcoming-services{

  .job-block{
    padding: 30px 20px;

    .job-details{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .job-address{
        ul{
          li{
            display: inline-block;
            color: $Black;
            p{
              display: inline-block;
              padding: 0 10px;
            }

            &:first-child{
              margin-right: 10px;
            }
          }
        }
      }

      .job-rating{
        display: flex;

        .rate-info{
          margin-right: 15px;
        }
      }
    }

  }

  .error-box{
    display: flex;
    align-items: center;
    border-top: 1px solid $Red;

    .warning-detail-wrapper{
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 25px;

      ul{
        &:before{
          content: 'Pending:';
          margin-right: 5px;
        }
        li{
          display: inline-block;


          &:after{
            content: '|';
            margin: 0 15px;
            font-size: 20px;
            color: #272727;
            position: relative;
          }

          &:last-child{
            &:after{
              content: none;
            }
          }

        }

      }
    }
  }

}

.upcoming-services_small-devices{

  .job-block{
    padding: 30px 20px;

    .job-details{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .job-address{
        ul{
          li{
            display: inline-block;
            color: $Black;
            p{
              display: inline-block;
              padding: 0 10px;
            }

            &:first-child{
              margin-right: 10px;
            }
          }
        }
      }

      .job-rating{
        display: flex;
        justify-content: flex-end;
        .rate-info{
          margin-right: 15px;
        }
      }
    }

  }

  .error-box{
    display: flex;
    align-items: center;
    border-top: 1px solid $Red;

    .warning-detail-wrapper{
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 25px;

      ul{
        &:before{
          content: 'Pending:';
          margin-right: 5px;
        }
        li{
          display: inline-block;


          &:after{
            content: '|';
            margin: 0 15px;
            font-size: 20px;
            color: #272727;
            position: relative;
          }

          &:last-child{
            &:after{
              content: none;
            }
          }

        }

      }
    }
  }

}

@media screen and (max-width: 991px){
  .dashboard-welcome{
    .banner-description, .banner-img{
      height: auto;
    }
    .banner-description{
      p{
        text-align: justify;
      }
    }
  }

}

@media screen and (max-width: 767px){
  .dashboard-welcome{
    padding: 20px 0;
    text-align: center;

    .welcome-title{

      .user-name{
        padding: 15px;

        h1{
          font-size: 45px;
        }
        h2{
          font-size: 30px;
        }
      }
    }

    img{
      width: 45%;
    }
  }

  .dashboard-damage-photos{
    padding: 20px 15px;
  }

  .assigned-estimator{
    padding: 10px 0;
    .media{
      flex-direction: column;
      align-items: center;

      .estimator-img{
        width: 160px;
        height: 160px;
        margin-right: 0 !important;
        margin-bottom: 30px;

        .icon-estimator{
          bottom: -4%;
        }
      }

      .media-body{
        text-align: center;
        font-size: 20px;

        .stars{
          i{
            font-size: 18px;
          }
        }

        .estimator-info{
          li{
            p{
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }

  .upcoming-appointments-list{
    font-size: 18px;
    h3{
      text-align: center;
      font-size: 18px;
    }

    .appointments-wrapper{
      .appointment-box{
        padding: 15px;
        .media{
          display: block;
          text-align: center;
          margin-bottom: 10px;

          .media-body{
            h6{
              font-size: 18px;
            }
            p{
              font-size: 16px;
            }
          }
        }

        .inline-list{
          text-align: center;

          .list-bdr-right{

            &:after{
              height: 10px;
            }
          }
        }
      }
    }
  }

  .recent-estimate{
    .estimate-pdf-box{
      .estimate-pdf-box-header{
        ul.inline-list{

          li{
            padding: 0;
            display: block;

            &.list-bdr-right{
              &:after{
                height: 0;
              }
            }

            i,p{
              font-size: 20px;
            }
          }
        }
      }
      .estimate-pdf-box-body{
        .pdf-icon-img{
          text-align: center;
          margin-bottom: 20px;
        }
        .pdf-details{
          .estimate-pdf-details{
            h5{
              font-size: 18px;
            }
          }
          .product-info{
            .product-manufaturer-img{
              width: 40px;
              height: 40px;
              margin-bottom: 10px;
            }
            .product-img{
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px){
  //.dashboard-welcome{
  //  padding: 20px 0;
  //  text-align: center;
  //
  //  .welcome-title{
  //
  //    .user-name{
  //      padding: 15px;
  //
  //      h1{
  //        font-size: 45px;
  //      }
  //      h2{
  //        font-size: 30px;
  //      }
  //    }
  //  }
  //
  //  img{
  //    width: 45%;
  //  }
  //}



  .dashboard-damage-photos{
    padding: 20px 15px;
  }

  .assigned-estimator{
    padding: 10px 0;
    .media{
      flex-direction: column;
      align-items: center;

      .estimator-img{
        width: 160px;
        height: 160px;
        margin-right: 0 !important;
        margin-bottom: 30px;

        .icon-estimator{
          bottom: -4%;
        }
      }

      .media-body{
        text-align: center;
        font-size: 20px;

        .stars{
          i{
            font-size: 18px;
          }
        }

        .estimator-info{
          li{
            p{
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }

  .upcoming-appointments-list{
    font-size: 18px;
    h3{
      text-align: center;
      font-size: 18px;
    }

    .appointments-wrapper{
      .appointment-box{
        padding: 15px;
        .media{
          display: block;
          text-align: center;
          margin-bottom: 10px;

          .media-body{
            h6{
              font-size: 18px;
            }
            p{
              font-size: 16px;
            }
          }
        }

        .inline-list{
          text-align: center;

          .list-bdr-right{

            &:after{
              height: 10px;
            }
          }
        }
      }
    }
  }

  .recent-estimate{
    .estimate-pdf-box{
      .estimate-pdf-box-header{
        ul.inline-list{

          li{
            padding: 0;
            display: block;

            &.list-bdr-right{
              &:after{
                height: 0;
              }
            }

            i,p{
              font-size: 20px;
            }
          }
        }
      }
      .estimate-pdf-box-body{
        .pdf-icon-img{
          text-align: center;
          margin-bottom: 20px;
        }
        .pdf-details{
          .estimate-pdf-details{
            h5{
              font-size: 18px;
            }
          }
          .product-info{
            .product-manufaturer-img{
              width: 40px;
              height: 40px;
              margin-bottom: 10px;
            }
            .product-img{
              width: 40px;
              height: 40px;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 320px){
  .dashboard-welcome{
    padding: 0;
    text-align: center;

    .welcome-title{

      .user-name{
        padding: 15px;

        h1{
          font-size: 45px;
        }
        h2{
          font-size: 30px;
        }
      }
    }

    img{
      width: 45%;
    }
  }

  .dashboard-damage-photos{
    padding: 20px 15px;
  }

  .assigned-estimator{
    padding: 10px 0;
    .media{
      flex-direction: column;
      align-items: center;

      .estimator-img{
        width: 130px;
        height: 130px;
        margin-right: 0 !important;
        margin-bottom: 30px;

        .icon-estimator{
          bottom: -5%;
        }
      }

      .media-body{
        text-align: center;
        font-size: 14px;

        .stars{
          i{
            font-size: 18px;
          }
        }

        .estimator-info{
          li{
            p{
              margin-bottom: 7px;
            }
          }
        }
      }
    }
  }

  .upcoming-appointments-list{
    font-size: 14px;
    h3{
      text-align: center;
      font-size: 16px;
    }

    .appointments-wrapper{
      .appointment-box{
        padding: 15px;
        .media{
          display: block;
          text-align: center;
          margin-bottom: 10px;
        }

        .inline-list{
          text-align: center;

          .list-bdr-right{

            &:after{
              height: 10px;
            }
          }
        }
      }
    }
  }

  .recent-estimate{
    .estimate-pdf-box{
      .estimate-pdf-box-header{
        ul.inline-list{
          li{
            padding: 0;
            display: block;

            i,p{
              font-size: 14px;
            }
          }
        }
      }
      .estimate-pdf-box-body{
        .pdf-icon-img{
          text-align: center;
          margin-bottom: 20px;
        }
        .pdf-details{
          .estimate-pdf-details{
            h5{
              font-size: 14px;
            }
          }
        }
      }
    }
  }

  .upcoming-services_small-devices{
    .job-header{
      .job-address{
        ul{
          li{
            i,p{
              font-size: 11px;
              display: inline-block;
            }
          }
        }
      }
    }
  }

  .pdf-details{
    .product-info{
      .product-manufaturer-img{
        margin-bottom: 10px;
      }
    }
  }

}


