<div class="upcoming-services" >
  <div class="container-fluid">
    <h3 class="f-s-30 clr-black m-b-25">Upcoming Services</h3>
    <div [ng2-loading]="loader" style="height: 100vh;" *ngIf="!structures">
    </div>
    <div class="job-block-wrapper" *ngFor="let structure of structures; let i=index">
      <div class="property-block">
        <div class="structure-block mb-5 " [ngClass]="{'error-border': structure.property.is_gated && structure.property.gate_code==null}">
          <a class="d-block" (click)="jobDetail(i,j,k)">
            <div class="job-block bg-clr-light-silver border-clr-red">
              <div class="row">
                <div class="col-lg-3">
                  <div class="job-img mb-3 mb-md-0">
                    <img *ngIf="!structure.main_image" class="img-fluid" src="assets/images/placeholder-property.png" alt="placeholder-property.png">
                    <img *ngIf="structure.main_image" class="img-fluid" [src]="structure.main_image" alt="service-img.jpg">
                  </div>
                </div>
                <div class="col-lg-9">
                  <div class="job-details">
                    <div class="job-header">
                      <div class="job-address">
                        <div class="row">
                          <div class="col-xl-7">
                            <ul class="mb-3 mb-md-0">
                              <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <p class="mb-0 clr-dark-grey-1 list-bdr-right">{{structure.property.full_address}}</p>
                              </li>
                              <li>
                                <!-- <i class="fas fa-home-lg"></i>
                                <p class="mb-0 clr-dark-grey-1">{{structure.name}}</p> -->

                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='car_port'"><i class="fas fa-home mr-2"></i> Car Port</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Gest House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
                              </li>
                            </ul>
                          </div>
                          <div class="col-xl-5">
                            <div class="job-type text-left text-md-right">
                              <p class="clr-black" *ngIf="structure.project_type=='reroof'"><span class="clr-orange">Service Type:</span> Reroof</p>
                              <p class="clr-black" *ngIf="structure.project_type=='repair'"><span class="clr-orange">Service Type:</span> Repair</p>
                              <!-- <p class="clr-black" *ngIf="structure.project_type=='new_construction'"><span class="clr-orange">Service Type:</span> New Construction</p>
                              <p class="clr-black" *ngIf="structure.project_type=='inspection'"><span class="clr-orange">Service Type:</span> Inspection</p>
                              <p class="clr-black" *ngIf="structure.project_type=='insurance_proceeds'"><span class="clr-orange">Service Type:</span> Insurance Proceeds</p>  -->
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="job-timeline">
                      <ul class="steps-progress-bar_upcoming-jobs">

                        <li [ngClass]="{'active':(structure.customer_milestones == 'estimator_scheduled'  || structure.customer_milestones == 'assessment_completed' || structure.customer_milestones == 'estimation_received' || structure.customer_milestones == 'job_signed')}">
                          <h6 class="fw-600 f-s-16">Estimator Scheduled</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li [ngClass]="{'active':(structure.customer_milestones == 'assessment_completed' || structure.customer_milestones == 'estimation_received' || structure.customer_milestones == 'job_signed')}">
                          <h6 class="fw-600 f-s-16">Assessment Completed</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li [ngClass]="{'active':(structure.customer_milestones == 'estimation_received' || structure.customer_milestones == 'job_signed')}">
                          <h6 class="fw-600 f-s-16">Estimations Received</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li [ngClass]="{'active':(structure.customer_milestones == 'job_signed')}">
                          <h6 class="fw-600 f-s-16">Job E-Signed</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                      </ul>
                    </div>

                    <div class="job-rating" *ngFor="let appointment of structure.property.appointments">
                      <div class="rate-info">
                        <div class="designation">
                          <h6 class="mb-0 clr-black font-weight-bold" *ngIf="appointment.appointment_type=='evaluation'">Roof Inspector</h6>
                          <h6 class="mb-0 clr-black" *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'">Dry In Crew</h6>
                          <h6 class="mb-0 clr-black" *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster Crew</h6>
                          <h6 class="mb-0 clr-black" *ngIf="appointment.appointment_type=='final_crew_scheduled'">Final Crew</h6>

                          <p class="mb-0"> {{appointment.estimator.first_name}} {{appointment.estimator.last_name}}</p>
                        </div>

                        <!-- <div class="stars">
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-dark-grey-3"></i>
                        </div> -->
                      </div>
                      <img class="img-50 rounded-circle" [src]="appointment.estimator.avatar_image_location" alt="dummy-user-img.png">
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="error-box bg-clr-pink" *ngIf="structure.property.is_gated && structure.property.gate_code==null">
            <div class="warning-icon bg-clr-red p-all-20">
              <i class="fas fa-exclamation-triangle text-white f-s-30"></i>
            </div>
            <div class="warning-detail-wrapper">
              <div class="warning-info">
                <ul class="clr-red">

                  <li>Gate Code</li>
                </ul>
              </div>
              <a class="btn-primary-odie bg-clr-red ml-auto text-white" data-toggle="modal" href="#resolveIssues" (click)="property_id=structure.property.id;">Resolve Issues</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end px-3" [ngClass]="{'justify-content-between': !disable_next && !disable_previous}">
<button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(0)" *ngIf="!disable_previous" >Previous</button>
<button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(1)" *ngIf="!disable_next" >Next</button>
</div>

<div class="modal resolve-issues-modal fade" id="resolveIssues" tabindex="-1" aria-labelledby="resolveIssuesLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content" [ng2-loading]="loader2">
      <div class="modal-header bg-clr-red">
        <h5 class="modal-title text-white" id="resolveIssuesLabel">Resolve Following Issues to Proceed your Job</h5>
        <button type="button" class="close" data-dismiss="modal" id="modal_id" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #form="ngForm">
          <label> Please add the Gate Code</label>
          <input type="text" name="gate_code" class="form-control mb-3" [(ngModel)]="gate_code">
          <div class="text-center">
            <button class="btn-primary-odie btn-md-odie" (click)="addGateCode()" [disabled]="!(form.form.valid)">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
