@import "../../../scss/mixins";

.upcoming-services{

  .job-block{
    padding: 30px 20px;

    .job-details{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .job-address{
        ul{
          li{
            display: inline-block;
            color: $Black;
            p{
              display: inline-block;
              padding: 0 10px;
            }

            &:first-child{
              margin-right: 10px;
            }
          }
        }
      }

      .job-rating{
        display: flex;

        .rate-info{
          margin-right: 15px;
        }
      }
    }

  }

  .error-box{
    display: flex;
    align-items: center;
    border-top: 1px solid $Red;

    .warning-detail-wrapper{
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 25px;

      ul{
        &:before{
          content: 'Pending:';
          margin-right: 5px;
        }
        li{
          display: inline-block;


          &:after{
            content: '|';
            margin: 0 15px;
            font-size: 20px;
            color: #272727;
            position: relative;
          }

          &:last-child{
            &:after{
              content: none;
            }
          }

        }

      }
    }
  }

  .job-block{
    .job-img{
      img{
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
  }

}

@media screen and (max-width: 576px){
  h3{
    text-align: center;
    font-size: 22px;
  }
  .job-address{
    ul{
      li{
       display: flex !important;
        i{
          margin-top: 4px;
        };

        &:last-child{
          p{
            padding-left: 0 !important;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 767px){
  .upcoming-services{
    .warning-icon, .warning-info{
      display: none;
    }
    .error-box{
      a{
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }

      .warning-detail-wrapper{
        padding: 10px;
      }
    }
  }
}