// .detail-box-body{
//   height: calc(100vh - 5px);
// }
#proposalIframe{
  height: calc(100vh - 100px);
}
.pdf-margin-bottom-lg{
  margin-bottom: 150px;
}
.proposal-banner-img{
  width: 100%;
  height: 729px;
  object-fit: cover;
}
.proposal{
  @import "proposal/page-1";
  @import "proposal/page-2";
  @import "proposal/page-3";
  @import "proposal/page-4";
  @import "proposal/page-5";
  @import "proposal/page-6";


  .pdf-footer{
    padding: 20px 40px;
    background-color: $Grey;
  }

  .pdf-footer-printable{
    padding: 20px 40px;
    background-color: $Grey;
    position: absolute;
    width: 100%;
    bottom: 0;
  }

  .signature-width{
    width: 120px;
    height: 120px;
    object-fit: contain;
  }

  .watermark{
    position: relative;

    &:before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .7;
      background-image: url("../../../../assets/images/proposal/bg-pdf.png");
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      z-index: -1;
    }
  }
}

.printed-proposal{
  width: 612px;
}

#contentToConvert.page-1, #contentToConvert2.page-2, #contentToConvert3.page-3, #contentToConvert4.page-4,
#contentToConvert5.page-5, #contentToConvert6.page-6{
  position: relative;
  width: 612px;
  height: 792px;
}




