<div class="current-jobs">
  <div class="container-fluid">
    <h3 class="f-s-30 clr-black m-b-25">Current Jobs</h3>
    <div [ng2-loading]="loader" style="height: 100vh;" *ngIf="!structures">
    </div>
    <div class="job-block-wrapper" *ngFor="let structure of structures; let i=index">
      <div class="property-block" >
        <div class="structure-block error-border mb-5" [ngClass]="{'error-border': structure.notarized_noc==null || structure.payments.length==0}">
          <!-- <span *ngIf="structure.notarized_noc==null || structure.property.project.payments.length==0"></span> -->
          <a class="d-block" (click)="jobDetail(i)">
            <div class="job-block bg-clr-light-silver border-clr-red">
              <div class="row">
                <div class="col-lg-3 col-md-12">
                  <div class="job-img">
                    <img *ngIf="!structure.main_image" class="img-fluid mb-3 mb-lg-0" src="assets/images/placeholder-property.png" alt="service-img.jpg">
                    <img *ngIf="structure.main_image" class="img-fluid mb-3 mb-lg-0" [src]="structure.main_image" alt="service-img.jpg">
                  </div>
                </div>
                <div class="col-lg-9 col-md-12">
                  <div class="job-details">
                    <div class="job-header">
                      <div class="job-address">
                        <div class="row">
                          <div class="col-lg-7 col-md-12">
                            <ul>
                              <li>
                                <i class="fas fa-map-marker-alt"></i>
                                <p class="mb-0 clr-dark-grey-1 list-bdr-right">{{structure.property.full_address}}</p>
                              </li>
                              <li>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='car_port'"><i class="fas fa-home mr-2"></i> Car Port</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House</p>
                                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
                              </li>
                            </ul>
                          </div>
                          <div class="col-lg-5 col-md-12">
                            <div class="job-type text-left text-lg-right">
                              <p class="clr-black" *ngIf="structure.project_type=='reroof'"><span class="clr-orange">Service Type:</span> Reroof</p>
                              <p class="clr-black" *ngIf="structure.project_type=='repair'"><span class="clr-orange">Service Type:</span> Repair</p>
                              <p class="clr-black" *ngIf="structure.project_type=='new_construction'"><span class="clr-orange">Service Type:</span> New Construction</p>
                              <p class="clr-black" *ngIf="structure.project_type=='inspection'"><span class="clr-orange">Service Type:</span> Inspection</p>
                              <p class="clr-black" *ngIf="structure.project_type=='insurance_proceeds'"><span class="clr-orange">Service Type:</span> Insurance Proceeds</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="job-timeline" *ngIf="structure.project_type=='reroof'">
                      <ul class="steps-progress-bar_current-jobs">

                        <li [ngClass]="{'active':(structure.customer_milestones == 'permit_applied'  || structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}" >
                          <h6 class="fw-600 f-s-16">Permit Applied</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li [ngClass]="{'active':(structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}">
                          <h6 class="fw-600 f-s-16">Tear Off Crew Scheduled</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li [ngClass]="{'active':( structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}">
                          <h6 class="fw-600 f-s-16">Installation Crew Scheduled</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li [ngClass]="{'active':( structure.customer_milestones == 'job_completed')}">
                          <h6 class="fw-600 f-s-16">Job Completed</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>
                        <li>
                          <h6 class="fw-600 f-s-16">Final Payment</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>
                      </ul>
                    </div>
                    <div class="job-timeline" *ngIf="structure.project_type=='repair'">
                      <ul class="steps-progress-bar_current-jobs">

                        <!-- <li [ngClass]="{'active':(structure.customer_milestones == 'permit_applied'  || structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}" >
                          <h6 class="fw-600 f-s-16">Permit Applied</h6> -->
                        <!-- <div class="mb-2">
                          <span class="f-s-12 list-bdr-right">04/18/21</span>
                          <span class="f-s-12">07:00 PM</span>
                        </div> -->
                        <!-- </li> -->

                        <!-- <li [ngClass]="{'active':(structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}"> -->
                        <!-- <h6 class="fw-600 f-s-16">Tear Off Crew Scheduled</h6> -->
                        <!-- <div class="mb-2">
                          <span class="f-s-12 list-bdr-right">04/18/21</span>
                          <span class="f-s-12">07:00 PM</span>
                        </div> -->
                        <!-- </li> -->

                        <li [ngClass]="{'active':( structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}">
                          <h6 class="fw-600 f-s-16">Repair Crew Scheduled</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li [ngClass]="{'active':( structure.customer_milestones == 'job_completed')}">
                          <h6 class="fw-600 f-s-16">Job Completed</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>

                        <li>
                          <h6 class="fw-600 f-s-16">Final Payment</h6>
                          <!-- <div class="mb-2">
                            <span class="f-s-12 list-bdr-right">04/18/21</span>
                            <span class="f-s-12">07:00 PM</span>
                          </div> -->
                        </li>
                      </ul>
                    </div>
                    <div class="row no-gutters">
                      <div class="col-md-12 col-lg-3" *ngFor="let appointment of structure.appointments">
                        <div class="job-rating" >
                          <div class="rate-info">
                            <div class="designation">
                              <h6 class="mb-0 clr-black font-weight-bold" *ngIf="appointment.appointment_type=='evaluation'">Roof Inspector</h6>
                              <h6 class="mb-0 clr-black" *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'">Dry In Crew</h6>
                              <h6 class="mb-0 clr-black" *ngIf="appointment.appointment_type=='repair_crew_scheduled'">Repair Crew</h6>
                              <h6 class="mb-0 clr-black" *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster Crew</h6>
                              <h6 class="mb-0 clr-black" *ngIf="appointment.appointment_type=='final_crew_scheduled'">Final Crew</h6>

                              <p class="mb-0"> {{appointment.estimator.first_name}} {{appointment.estimator.last_name}}</p>
                            </div>

                            <!-- <div class="stars">
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-dark-grey-3"></i>
                            </div> -->
                          </div>
                          <img class="img-50 rounded-circle" [src]="appointment.estimator.avatar_image_location" alt="dummy-user-img.png">
                        </div>
                      </div>

                      <!-- <div class="col-md-2">
                        <div class="job-rating">
                          <div class="rate-info">
                            <div class="designation">
                              <p class="mb-0 clr-black">Foreman</p>
                              <p class="mb-0"></p>
                            </div>
                            <div class="stars">
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-dark-grey-3"></i>
                            </div>
                          </div>
                          <img class="img-40 rounded-circle" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                        </div>
                      </div> -->

                      <!-- <div class="col-md-4">
                        <div class="job-rating tear-off-crew">
                          <div class="rate-info">
                            <div class="designation">
                              <p class="mb-0 clr-black">John's Tear Off Crew</p>
                              <p class="mb-0"></p>
                            </div>
                            <div class="stars">
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas  fa-star clr-orange"></i>
                              <i class="fas fa-star clr-dark-grey-3"></i>
                            </div>
                          </div>
                          <img class="img-40 rounded-circle ml-0" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                          <img class="img-40 rounded-circle" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                          <img class="img-40 rounded-circle" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                          <img class="img-40 rounded-circle" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                        </div>
                      </div>

                      <div class="col-md-4">
                        <div class="job-rating installation-crew">
                          <div class="rate-info">
                            <div class="designation">
                              <p class="mb-0 clr-black">Frank’s Fabulous Tile Install Crew:</p>
                              <p class="mb-0"></p>
                            </div>
                            <div class="stars">
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas fa-star clr-orange"></i>
                              <i class="fas  fa-star clr-orange"></i>
                              <i class="fas fa-star clr-dark-grey-3"></i>
                            </div>
                          </div>
                          <img class="img-40 rounded-circle ml-0" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                          <img class="img-40 rounded-circle" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                          <img class="img-40 rounded-circle" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                          <img class="img-40 rounded-circle" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img.png">
                        </div>
                      </div> -->

                    </div>

                  </div>
                </div>
              </div>
            </div>
          </a>
          <div class="error-box bg-clr-pink" *ngIf="structure.notarized_noc==null || structure.payments.length==0">
            <div class="warning-icon bg-clr-red p-all-20">
              <i class="fas fa-exclamation-triangle text-white f-s-30"></i>
            </div>
            <div class="warning-detail-wrapper">
              <div class="warning-info">
                <ul class="clr-red">
                  <li *ngIf="structure.payments.length==0">Initial Payment</li>
                  <li *ngIf="structure.notarized_noc==null">NOC</li>
                  <!-- <li>Color Selection of Shingle</li> -->
                  <!-- <li>Gate Code</li> -->
                </ul>
              </div>
              <a class="btn-primary-odie bg-clr-red ml-auto text-white" data-toggle="modal" href="#resolveIssues{{structure.id}}"  (click)="changeOptions()" >Resolve Issues</a>
              <div class="modal resolve-issues-modal fade" id="resolveIssues{{structure.id}}" tabindex="-1" aria-labelledby="resolveIssuesLabel" aria-hidden="true">
                <div class="modal-dialog modal-xxl">
                  <div class="modal-content" [ng2-loading]="loader2">
                    <div class="modal-header bg-clr-red">
                      <h5 class="modal-title text-white" id="resolveIssuesLabel">Resolve Following Issues to Proceed your Job</h5>
                      <button type="button" class="close" data-dismiss="modal" id="modal_id" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="row">
                        <div class="col-12 col-lg-6" *ngIf="structure.payments.length==0">
                          <div class="issue" [ngClass]="{'border-right-darkskin': structure.notarized_noc==null}">
                            <h5 class="heading-s-20">Unpaid Security Deposit</h5>
                            <p class="heading-s-20">
                              To start you job please Contact Marcus or call at 261 5585 598
                            </p>
                          </div>
                        </div>
                        <div class="col-12 col-lg-6" *ngIf="structure.notarized_noc==null">
                          <div class="issue">
                            <h5 class="heading-s-20">NOC</h5>
                            <p class="heading-s-20" >
                              Please download the NOC document, Sign and send to roman
                            </p>
                            <a class="btn-primary-odie btn-sm-odie mr-3"  [href]="structure.noc" target="_blank" [download]="noc">Open NOC Document</a>
                            <label class="btn-primary-odie btn-sm-odie" for="file">
                              <input class="d-none" type="file" id="file" (change)="fileChange($event,structure.id)"
                                     accept="application/pdf"/>
                              <i class="fas fa-file-upload"></i> Upload NOC
                            </label>
                          </div>
                        </div>
                        <!-- <div class="col-md-6">
                          <div class="issue border-0">
                            <h5 class="heading-s-20">Color Selection for Shingle / Tiles / Metal</h5>
                            <div class="color-selection mb-4">
                              <span class="heading-s-20 align-middle mr-3">Show Premium Colors Only</span>
                              <label class="switch">
                                <input type="checkbox" checked>
                                <span class="slider round"></span>
                              </label>
                            </div>
                            <div class="color-palletes text-center">
                              <div class="row">
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                                    <p class="heading-s-20">Mission Brown</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                                    <p class="heading-s-20">Mission Brown</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                                    <p class="heading-s-20">Mission Brown</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                                    <p class="heading-s-20">Mission Brown</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                                    <p class="heading-s-20">Mission Brown</p>
                                  </div>
                                </div>
                                <div class="col-md-4">
                                  <div class="mb-3">
                                    <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                                    <p class="heading-s-20">Mission Brown</p>
                                  </div>
                                </div>
                              </div>
                            </div>
                            <a class="btn-primary-odie btn-sm-odie" href="#">Confirm</a>
                          </div>
                        </div> -->
                      </div>
                      <owl-carousel-o [options]="customOptions" (change)="getPassedData($event)" (initialized)="getData($event)" #owlElement>
                        <ng-template carouselSlide>
                          <img class="card-img-top img-fluid" src="assets/images/dashboard/dummy-img.jpg" alt="Card image cap">
                        </ng-template>
                        <ng-template carouselSlide>
                          <img class="card-img-top img-fluid" src="assets/images/dashboard/dummy-img.jpg" alt="Card image cap">
                        </ng-template>   <ng-template carouselSlide>
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/dummy-img.jpg" alt="Card image cap">
                      </ng-template>   <ng-template carouselSlide>
                        <img class="card-img-top img-fluid" src="assets/images/dashboard/dummy-img.jpg" alt="Card image cap">
                      </ng-template>
                      </owl-carousel-o>
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="d-flex justify-content-end px-3" [ngClass]="{'justify-content-between': !disable_next && !disable_previous}">
  <button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(0)" *ngIf="!disable_previous" >Previous</button>
  <button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(1)" *ngIf="!disable_next" >Next</button>
</div>


