@import "../../../scss/mixins";

.current-jobs{

  a{
    display: inline-block;

    .job-img{
      img{
        height: 250px;
        width: 100%;
        object-fit: cover;
      }
    }
    .job-block{
      padding: 30px 20px;

      .job-details{
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .job-address{
          ul{
            li{
              display: inline-block;
              color: $Black;
              p{
                display: inline-block;
                padding: 0 10px;
              }

              &:first-child{
                margin-right: 10px;
              }
            }
          }
        }



        .job-rating{
          display: flex;

          img{
            border: 4px solid $Grey;
          }
          .designation{
            p{
              font-size: 13px;
              font-weight: 700;
            }
          }

          .stars{
            i{
              font-size: 13px;
            }
          }

          .rate-info{
            margin-right: 15px;
          }
        }

        .job-rating.tear-off-crew,.job-rating.installation-crew{
          img{
            margin-left: -15px;
          }
        }
      }

    }
  }

  .error-box{
    display: flex;
    align-items: center;
    border-top: 1px solid $Red;

    .warning-detail-wrapper{
      display: flex;
      align-items: center;
      width: 100%;
      padding: 0 25px;

      ul{
        &:before{
          content: 'Pending:';
          margin-right: 5px;
        }
        li{
          display: inline-block;


          &:after{
            content: '|';
            margin: 0 15px;
            font-size: 20px;
            color: #272727;
            position: relative;
          }

          &:last-child{
            &:after{
              content: none;
            }
          }

        }

      }
    }
  }

}

@media screen and (max-width: 767px){
  .current-jobs{
    .warning-icon, .warning-info{
      display: none;
    }
    .error-box{
      a{
        margin: 0 auto;
        width: 100%;
        text-align: center;
      }

      .warning-detail-wrapper{
        padding: 10px;
      }
    }
  }
}

