@import "../../../scss/variables";

.menu-bar{
  background-color: #F5F5F5;

  .nav-wrapper{
    .navbar{
      padding: 8px 35px;

      .user-profile{
        display: flex;
        align-items: center;
      }
    }
  }
}


@media screen and (max-width: 576px){
  .menu-bar{
    .nav-wrapper{
      .navbar{
        padding: 8px 10px;
      }
    }
  }
}
