<div class="menu-bar">
  <div class="nav-wrapper">

    <nav class="navbar">
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent" aria-controls="navbarToggleExternalContent" aria-expanded="false" aria-label="Toggle navigation">
        <img src="assets/images/dashboard/icon-menu-expanded.svg" alt="icon-menu-expanded.svg">
      </button>-->
      <button (click)="showSidebarMenu();"  class="navbar-toggler d-block d-xl-none" type="button">
        <img src="assets/images/dashboard/icon-menu-expanded.svg" alt="icon-menu-expanded.svg">
      </button>
      <div class="user-profile ml-auto">
        <h5 class="primary-black m-0 mr-3">{{user.first_name}} {{user.last_name}}</h5>
<!--        <a href="#">-->
<!--          <img *ngIf="user.image" class="customer-header-img" [src]="user.image" alt="dummy-user-img">-->
<!--          <img *ngIf="!user.image" class="customer-header-img" src="assets/images/dashboard/dummy-user-img.png" alt="dummy-user-img">-->
<!--        </a>-->
        <label class="cursor-pointer" for="profilePic">
          <img *ngIf="user.image" class="customer-header-img" [src]="user.image" alt="dummy-user-img">
          <img *ngIf="!user.image && user.salutation=='Mr'" class="customer-header-img" src="assets/images/avatars/avatar-man.svg" alt="dummy-user-img">
          <img *ngIf="!user.image && user.salutation=='Mrs'" class="customer-header-img" src="assets/images/avatars/avatar-woman.svg" alt="dummy-user-img">
          <img *ngIf="!user.image && user.salutation=='Other'" class="customer-header-img" src="assets/images/avatars/avatar-other.svg" alt="dummy-user-img">
          <input class="d-none" id="profilePic" type="file" (change)="uploadCustomerImage($event)">
        </label>
      </div>
    </nav>
  </div>
</div>
