@import "../../../../scss/buttons";
@import "../../../../scss/variables";


.estimate-doc{
  padding: 20px 35px;

  .blurred-img{
    position: relative;
    padding: 50px;

    img{
      max-height: 362px;
      width: 100%;
      object-fit: cover;
    }
    .btn-extra-large{
      @extend .btn-extra-large;
      background-color: $Grey;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);

    }


  }
}

@media screen  and (max-width: 1199px){

  .full-btn-text{
    font-size: 30px;
  }

  .blurred-img{

    .btn-extra-large{
      padding: 20px 30px;
    }
  }
}

@media screen  and (max-width: 991px){
  .btn-full-block{
    font-size: 30px;
    padding: 15px;
  }
  .blurred-img{

    .btn-extra-large{
      font-size: 14px;
      padding: 20px 10px;
    }
  }
}


@media screen  and (max-width: 767px){
  .btn-full-block{
    font-size: 30px;
    padding: 15px;
  }
  .estimate-doc{
    .blurred-img{
      margin-top: 30px;
      padding: 0;

      .btn-extra-large{
        font-size: 14px;
        padding: 20px 10px;
      }
    }
  }
}

@media screen  and (max-width: 320px){
  .estimate-doc{
    padding: 20px 0;

    h3{
      font-size: 18px;
      text-align: center;
    }

    .blurred-img{
      margin-top: 30px;
      padding: 0;
    }
  }
}
