<main [ng2-loading]="loader">
  <div class="estimate-doc">
    <div class="container-fluid">
      <h3 class="f-s-30 m-b-25 fw-700">Roman Turn Key Roofing Solution</h3>
      <div class="row">
        <div class="col-md-4">
          <a class="btn-full-block bg-clr-light-silver" (click)="routerNavigator('estimation/damaged-photos')">
            <div class="full-btn-text">
              <p class="mb-0 clr-black">Your Roofing Problem</p>
              <i class="fas fa-arrow-left clr-orange"></i>
            </div>
          </a>
        </div>
        <div class="col-md-8">
          <div class="blurred-img bg-clr-light-silver">
            <img class="img-fluid" src="assets/images/e-sign/blurred-estimate.jpg" alt="blurred-estimate.jpg">
            <a  *ngIf="data && data.estimates"  class="btn-extra-large clr-black bg-clr-skin" (click)="routerNavigator('estimation/estimation-detail')">
              Open Your Estimate
            </a>
            <a *ngIf="data.project_type=='reroof' && data.claim && data.claim.claim_type_id=='0'" class="btn-extra-large clr-black bg-clr-skin" (click)="routerNavigator('estimation/aob-detail')">
              Open Your AOB
            </a>

            
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
