<div class="full-width" [ng2-loading]="loader">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div class="col-12 col-xl-5">
        <div class="login-page-body">
          <div class="login-page-header">
            <img src="assets/images/dashboard/odie-logo.svg" alt="logo.png"  style="width: 150px;">
          </div>
          <div class="login-page-content-wrapper">
            <div class="login-page-content">
              <div class="email-login" *ngIf="!login_code_sent">
                <div class="login-form-header">
                  <h6 class="clr-orange fw-700">Welcome</h6>
                  <p class="fw-900">Please login to your portal for</p>
                </div>
                <h1>Roman Turn Key <br>Roofing Solution</h1>
                <form #form="ngForm">
                  
                  <div class="form-group">
                    <label class="clr-orange required-star" for="login-email">Email/Phone</label>
                    <div class="d-flex">
                        <i *ngIf="isNot(loginEmail.value) && loginEmail.value!=''" class="fas fa-envelope" style="font-size: 45px;color: #D18808;line-height: 38px;margin: 0;margin-right: 5px;"></i>
                        <select class="form-control input-shadow-orange mb-2" *ngIf="!isNot(loginEmail.value) && loginEmail.value!=''" style="width: 45%; padding: 0px; font-style: normal; margin-right: 10px;" [(ngModel)]="countryCode" name="countryCode">
                          <option *ngFor="let code of phone_code" [value]="code.phoneCode">{{code.countryName}} ({{code.phoneCode}})  </option>
                        </select>

                    <input (focus)="onFocus()" (blur)="onBlur()" [(ngModel)]="my_search_text" type="text" required class="form-control input-shadow-orange mb-2" pattern="[A-Za-zzÄÖÜäöüß0-9._%+-]+@[a-zA-Z0-9.-]+\.[A-Za-z]{2,}$|[1-9]{1}[0-9]{9}"   name="my_search_text" id="login_email" placeholder="Enter Your Registered Email or Phone" #loginEmail="ngModel">
                    
                  </div>
                  
                    <span class="clr-red" *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)">
                      <small *ngIf="loginEmail.errors.required" class="form-control-feedback">
                        This is a required field.
                      </small>
                      <small *ngIf="loginEmail.errors.pattern" class="form-control-feedback">
                          
                        <span *ngIf="isNot(loginEmail.value) && loginEmail.value!=''">
                            Email should be valid
                        </span>
                        <span *ngIf="!isNot(loginEmail.value) && (loginEmail.value!='') ">
                          Your phone number should contain 10 characters
                        </span>

                            
                      </small>
                      
                    </span>


                    <!-- <div *ngFor="let item of loginEmail.errors.pattern | keyvalue">
                      {{item.key}}:{{item.value}}
                    </div> -->
                    <small class="form-text clr-dark-grey-1 mb-5">We will send a verification pin to ‎your email‎. To receive your pin please enter your email or phone and press “Continue” button.</small>
                  </div>
                
                  <!-- <div class="intro-search-field with-autocomplete">
                    <label for="autocomplete-input" class="field-title ripple-effect"> Search Consumer</label>
                    <div class="input-with-icon-left w-100">
                      <input id="inputSearch1" type="text" class="padding-left-55" [(ngModel)]="my_search_text"  placeholder="Search by Phone or Email" name="my_search_text" #search>
                      <i class="" style="font-style: normal;" *ngIf="!isNot(search.value) && search.value!=''"  id="numberIcon" style="width: 106px;">
                        <select style="width: 100%; height: 100%; padding: 0px;" [(ngModel)]="countryCode" name="countryCode">
                          <option *ngFor="let code of phone_code" [value]="code.phoneCode">{{code.code}} ({{code.phoneCode}})  </option>
                        </select>
                      </i>
                      
                        <i *ngIf="isNot(search.value) && search.value!=''" class="fas fa-envelope" id="emailIcon" style="font-size: 18px; color: #f70808;"></i>
                      
                    </div>
                  </div> -->
                  <button type="submit" class="btn-primary-odie btn-md-odie" (click)="sendLoginCode()" [disabled]="!(form.form.valid)">Continue</button> <i class="fas fa-long-arrow-right clr-orange"></i>
                </form>
              </div>


              <div class="pin-login" *ngIf="login_code_sent">
                <p class="fw-700">If your email/Phone is registered with us, you will receive a verification @ <span class="clr-orange">{{my_search_text}}</span></p>
                <h1>Please Enter 6 Digit <br>Verification Pin To Login</h1>
                <form>
                  <div class="form-group">
                    <label class="clr-orange required-star" for="login-pin">Enter Pin</label>
                    <input [(ngModel)]="login_code" maxlength="6" type="number" class="form-control input-shadow-orange mb-5" required id="login-pin" name="login-pin" placeholder="Enter Your Verification Pin" #loginPin="ngModel">
                    <span class="clr-red" *ngIf="loginPin.invalid && (loginPin.dirty || loginPin.touched)">
                      <small *ngIf="loginPin.errors.required" class="form-control-feedback">
                        This is a required field.
                      </small>
                    </span>
                  </div>
                 <div class="text-center text-md-left">
                   <button type="button" class="btn-secondary-odie btn-md-odie mr-4" (click)="login_code_sent=false;">Go Back</button>
                   <button type="submit" class="btn-primary-odie btn-md-odie" (click)="verifyLoginCode()">Verify</button>
                 </div>
                </form>
              </div>
            </div>
            <div class="login-page-footer">
              <a class="clr-black" href="#">
                <span class="small m-r-9">Powered By</span>
                <img src="assets/images/dashboard/odie-logo.svg" alt="odie-logo.svg">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-12 col-xl-7">
        <div  class="login-right-img" [ngStyle]="{'background-image': 'url(' + main_image + ')'}"></div>
        <!-- <div *ngIf="focused" class="login-right-img" style="background-image: url('assets/images/login/bg-login.jpg')"></div> -->
        <!-- *ngIf="loginEmail.invalid && (loginEmail.dirty || loginEmail.touched)" -->

      </div>
    </div>
  </div>


</div>
