.login-page-header,.login-page-content, .login-page-footer{
  padding: 50px 80px;
}
.login-page-body{
  height: 100%;
  position: relative;



 .login-page-content-wrapper{
   height: calc(100% - 150px);
   display: flex;
   flex-direction: column;
   justify-content: space-between;

   .login-page-content{
     .login-form-header{
       h6,p{
         font-size: 20px;
       }
     }
     .email-login, .pin-login{
       h1{
         font-size: 50px;
         font-weight: 300;
         margin-bottom: 38px;
       }

       form{
         i{
           font-size: 25px;
           margin-left: 10px;
         }
       }
     }
     .pin-login{
       p{
         font-size: 20px;
       }
     }
   }

   .login-page-footer{
     a{
       &:hover{
         color: #272727;
       }
     }
   }
 }
}


.login-right-img{
  position: relative;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;


  &:before{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 80%;
    background-color: #FFFFFF;
    clip-path: polygon(0 0, 0% 100%, 100% 100%);
  }
}

@media screen and (max-width: 1200px) {
  .login-page-header{
    text-align: center;
  }
  .login-right-img{
    display: none;
  }
}
@media screen and (max-width: 576px){

  .login-page-body{
    .login-page-content-wrapper{
      .login-page-content{
        padding: 20px 15px;
        .login-form-header{
          text-align: center;
        }

        .email-login, .pin-login{
          h1{
            font-size: 30px;
            text-align: center;
          }
        }
      }
    }
  }
}
