<div *ngIf="project">
    <div class="mb-3">
      <div class="container-fluid">
        <div class="job-detail-header">
          <div class="row">
            <div class="col-md-8 my-auto">
              <a *ngIf="structure.customer_milestones == 'estimator_scheduled'  || structure.customer_milestones == 'assessment_completed' || structure.customer_milestones == 'estimation_received'" class="btn-back-arrow" (click)="navigate('/customer/claims',2)"><i class="far fa-long-arrow-left"></i> Back</a>
              <ul class="inline-list">
                <li>
                  <p class="mb-0 clr-dark-grey-1 list-bdr-right"><i class="fas fa-map-marker-alt"></i> {{property.full_address}}</p>
                </li>
                <li>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House</p>
                  <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
                </li>
              </ul>
            </div>
            <div class="col-md-4 my-auto">
              <div class="service-type">
                <p class="clr-orange fw-700 mb-0" *ngIf="structure.project_type=='reroof'">Service Type: <span class="clr-dark-grey-1 fw-400">Reroof</span></p>
                <p class="clr-orange fw-700 mb-0" *ngIf="structure.project_type=='repair'">Service Type: <span class="clr-dark-grey-1 fw-400">Repair</span></p>
                <p class="clr-orange fw-700 mb-0" *ngIf="structure.project_type=='new_construction'">Service Type: <span class="clr-dark-grey-1 fw-400">New Construction</span></p>
  
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
    <div class="container-fluid mb-5">
      <div class="current-job-milestones bg-clr-light-silver">
        <h4 class="heading-s-20">Milestones</h4>
  
        <ul class="steps-progress-bar_upcoming-jobs" *ngIf="structure.claim ">
  
          <li [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_opened'  || structure.claim.customer_milestone == 'claim_decision' || structure.claim.customer_milestone == 'claim_negotiating' ||  structure.claim.customer_milestone == 'litigating' || structure.claim.customer_milestone == 'claim_settled' )}">
            <h6 class="fw-600 f-s-16">Claim Opened</h6>

            </li>

            <li [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_decision' || structure.claim.customer_milestone == 'claim_negotiating' ||  structure.claim.customer_milestone == 'litigating' || structure.claim.customer_milestone == 'claim_settled'   )}">
            <h6 class="fw-600 f-s-16">Decision <span *ngIf="structure.claim.coverage_type">({{ titleCase(structure.claim.coverage_type) }})</span></h6>

            </li>

            <li *ngIf="structure.claim.is_escalated==0" [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_negotiating' || structure.claim.customer_milestone == 'claim_settled' )}">
            <h6 class="fw-600 f-s-16">Negotiating</h6>

            </li>

            <li *ngIf="structure.claim.is_escalated==1" [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_negotiating' || structure.claim.customer_milestone == 'litigating' || structure.claim.customer_milestone == 'claim_settled' )}">
              <h6 class="fw-600 f-s-16">Litigating <span *ngIf="structure.claim.litigation_status">({{ titleCase(structure.claim.litigation_status) }})</span></h6>

              </li>

            <li [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_settled'  )}">
            <h6 class="fw-600 f-s-16">Settled</h6>

            </li>
  
        </ul>
  
  
      </div>
    </div>
    <div class="claim-details bg-clr-light-silver">
      <h4 class="heading-s-20 mb-4">Claim Details</h4>
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Claim Status</h6>
            <p class="clr-black mb-0"> {{ structure.claim.claim_status }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Insurance Type</h6>
            <p class="clr-black mb-0"> {{ structure.claim.claim_type_id==0? "Assignment of Benefits":'Direction to Pay' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Claim Number</h6>
            <p class="clr-black mb-0"> {{ structure.claim.claim_number? structure.claim.claim_number:'Not Found' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Estimator</h6>
            <p class="clr-black mb-0"> {{ structure.claim.estimator? structure.claim.estimator.first_name+' '+structure.claim.estimator.last_name:'Not Found' }}</p>
          </div>
        </div>

        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Policy Number</h6>
            <p class="clr-black mb-0"> {{ structure.claim.policy_number? structure.claim.policy_number:'Not Found' }}</p>
          </div>
        </div>
        
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Insurance Carrier</h6>
            <p class="clr-black mb-0"> {{ structure.claim.insurance_carrier? structure.claim.insurance_carrier.name:'Not Assigned yet' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Field Adjuster</h6>
            <p class="clr-black mb-0"> {{ structure.claim.field_adjuster? structure.claim.field_adjuster.first_name +' '+structure.claim.field_adjuster.last_name:'Not Assigned yet' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Desk Adjuster</h6>
            <p class="clr-black mb-0"> {{ structure.claim.desk_adjuster? structure.claim.desk_adjuster.first_name+' '+structure.claim.desk_adjuster.last_name:'Not Assigned yet' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Mortgae Company</h6>
            <p class="clr-black mb-0"> {{ structure.claim.mortage_company? structure.claim.mortage_company.name:'Not Assigned yet' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Mortgae Account Number</h6>
            <p class="clr-black mb-0"> {{ structure.claim.mortgage_account_number? structure.claim.mortgage_account_number:'Not Submitted yet' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Deductible Amount</h6>
            <p class="clr-black mb-0"> {{ structure.claim.deductible_amount? '$'+structure.claim.deductible_amount:'Not Found' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Xactimate Amount</h6>
            <p class="clr-black mb-0"> {{ structure.claim.xactimate_amount? '$'+structure.claim.xactimate_amount:'Not Found' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Damage Type</h6>
            <p class="clr-black mb-0"> {{ structure.claim.damage_type? structure.claim.damage_type:'Not Found' }}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4" *ngIf="structure.claim.date_of_claim">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Date of Claim</h6>
            <p class="clr-black mb-0"> {{ structure.claim.date_of_claim | date:'short'}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4" *ngIf="structure.claim.date_of_loss">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Date of Loss</h6>
            <p class="clr-black mb-0"> {{ structure.claim.date_of_loss | date:'short'}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Claim created at</h6>
            <p class="clr-black mb-0"> {{ structure.claim.created_at | date:'short'}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4" *ngIf="structure.claim.temp_repair_at">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Temp Repair at</h6>
            <p class="clr-black mb-0"> {{ structure.claim.temp_repair_at | date:'short'}}</p>
          </div>
        </div>
        <div class="col-lg-3 col-md-4" *ngIf="structure.claim.adjuster_meeting_at">
          <div class="mb-3">
            <h6 class="mb-0 clr-orange font-weight-bold" >Adjuster meeting at</h6>
            <p class="clr-black mb-0"> {{ structure.claim.adjuster_meeting_at | date:'short'}}</p>
          </div>
        </div>
        
      </div>
    </div>

  </div>
  