
<div class="upcoming-services" >
    <div class="container-fluid">
      <h3 class="f-s-30 clr-black m-b-25">Insurance Claims</h3>
      <div [ng2-loading]="loader" style="height: 100vh;" *ngIf="!structures">
      </div>
      <div class="job-block-wrapper" *ngFor="let structure of structures; let i=index" style="position: relative;">
        <div class="property-block">
          <div class="structure-block mb-5 " >
            <div class="text-right" *ngIf="structure.claim && structure.claim.unsigned_aob && structure.claim.is_signed==0 && structure.claim.claim_type_id==0 && structure.claim.is_all_documents_received">
                <a (click)="openClaim(structure)" style="background-color:#A40803;color:#ffffff;padding: 5px 20px;"><i class="fas fa-file-signature"></i> Sign AOB</a>
            </div>
            <a class="d-block" (click)="claimDetail(i)" style="position: relative;">
            <div class="accepted-estimate-box" style="top:0;right:0;bottom:initial;height:30px;left:initial;" *ngIf="structure.claim && structure.claim.is_signed==1 && structure.claim.claim_type_id==0">
                <i class="far fa-check text-white align-middle"></i>
            </div>
              <div class="job-block bg-clr-light-silver border-clr-red">
               
                    <div class="row">
                        <div class="col-lg-3">
                        <div class="job-img mb-3 mb-md-0">
                            <img *ngIf="!structure.main_image" class="img-fluid" src="assets/images/placeholder-property.png" alt="placeholder-property.png">
                            <img *ngIf="structure.main_image" class="img-fluid" [src]="structure.main_image" alt="service-img.jpg">
                        </div>
                        </div>
                        <div class="col-lg-9">
                        <div class="job-details">
                            <div class="job-header">
                            <div class="job-address">
                                <div class="row">
                                <div class="col-xl-7">
                                    <ul class="mb-3 mb-md-0">
                                    <li>
                                        <i class="fas fa-map-marker-alt"></i>
                                        <p class="mb-0 clr-dark-grey-1 list-bdr-right">{{structure.property.full_address}}</p>
                                    </li>
                                    <li>
                                        <!-- <i class="fas fa-home-lg"></i>
                                        <p class="mb-0 clr-dark-grey-1">{{structure.name}}</p> -->
        
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='car_port'"><i class="fas fa-home mr-2"></i> Car Port</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Gest House</p>
                                        <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
                                    </li>
                                    </ul>
                                </div>
                                
                                <div class="col-xl-5">
                                    <div class="job-type text-left text-md-right">
                                    <p class="clr-black" *ngIf="structure.project_type=='reroof'"><span class="clr-orange">Service Type:</span> Reroof</p>
                                    <p class="clr-black" *ngIf="structure.project_type=='repair'"><span class="clr-orange">Service Type:</span> Repair</p>
                                
                                    </div>
                                </div>
                                </div>
                            </div>
                            </div>
        
                            <div class="job-timeline">
                            <ul class="steps-progress-bar_upcoming-jobs">
        
                              <li [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_opened'  || structure.claim.customer_milestone == 'claim_decision' || structure.claim.customer_milestone == 'claim_negotiating' ||  structure.claim.customer_milestone == 'litigating' || structure.claim.customer_milestone == 'claim_settled' )}">
                                <h6 class="fw-600 f-s-16">Claim Opened</h6>
                    
                                </li>
                    
                                <li [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_decision' || structure.claim.customer_milestone == 'claim_negotiating' ||  structure.claim.customer_milestone == 'litigating' || structure.claim.customer_milestone == 'claim_settled'   )}">
                                <h6 class="fw-600 f-s-16">Decision <span *ngIf="structure.claim.coverage_type">({{ titleCase(structure.claim.coverage_type) }})</span></h6>
                    
                                </li>
                    
                                <li *ngIf="structure.claim.is_escalated==0" [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_negotiating' || structure.claim.customer_milestone == 'claim_settled' )}">
                                <h6 class="fw-600 f-s-16">Negotiating</h6>
                    
                                </li>
                    
                                <li *ngIf="structure.claim.is_escalated==1" [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_negotiating' || structure.claim.customer_milestone == 'litigating' || structure.claim.customer_milestone == 'claim_settled' )}">
                                  <h6 class="fw-600 f-s-16">Litigating <span *ngIf="structure.claim.litigation_status">({{ titleCase(structure.claim.litigation_status) }})</span></h6>
                    
                                  </li>
                    
                                <li [ngClass]="{'active':(structure.claim.customer_milestone == 'claim_settled'  )}">
                                <h6 class="fw-600 f-s-16">Settled</h6>
                    
                                </li>
        
                            </ul>
                            </div>
                            <div class="d-flex justify-content-between flex-wrap">
                                <div class="job-rating" >
                                    <div class="rate-info">
                                        <div class="designation">
                                            <h6 class="mb-0 clr-black font-weight-bold" >Claim Status</h6>
                                            <p class="mb-0"> {{structure.claim.claim_status}}</p>
                                        </div>
    
                                    </div> 
                                </div>
                                <div class="job-rating" >
                                    <div class="rate-info">
                                        <div class="designation">
                                            <h6 class="mb-0 clr-black font-weight-bold" >Insurance Carrier</h6>
                                            <p class="mb-0"> {{ (structure.claim.insurance_carrier && structure.claim.insurance_carrier.name)? structure.claim.insurance_carrier.name:'Not Assigned yet'}}</p>
                                        </div>
    
                                    </div> 
                                </div>
                                <div class="job-rating" >
                                    <div class="rate-info">
                                        <div class="designation">
                                            <h6 class="mb-0 clr-black font-weight-bold" >Insurance Type</h6>
                                            <p class="mb-0"> {{structure.claim.claim_type_id==0?"Assignment of Benefits":"Direction to Pay" }}</p>
                                        </div>
    
                                    </div> 
                                </div>
                                <div class="job-rating" >
                                    <div class="rate-info">
                                        <div class="designation">
                                            <h6 class="mb-0 clr-black font-weight-bold" >Mortage Company</h6>
                                            <p class="mb-0"> {{ (structure.claim.mortage_company && structure.claim.mortage_company.name)?structure.claim.mortage_company.name:'Not Assigned' }}</p>
                                        </div>
    
                                    </div> 
                                </div>
    
                            </div>
                        </div>
                        </div>
                    </div>
               </div>
            </a>
           
            <!-- <div class="error-box bg-clr-pink" *ngIf="structure.property.is_gated && structure.property.gate_code==null">
              <div class="warning-icon bg-clr-red p-all-20">
                <i class="fas fa-exclamation-triangle text-white f-s-30"></i>
              </div>
              <div class="warning-detail-wrapper">
                <div class="warning-info">
                  <ul class="clr-red">
  
                    <li>Gate Code</li>
                  </ul>
                </div>
                <a class="btn-primary-odie bg-clr-red ml-auto text-white" data-toggle="modal" href="#resolveIssues" (click)="property_id=structure.property.id;">Resolve Issues</a>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class="d-flex justify-content-end px-3" [ngClass]="{'justify-content-between': !disable_next && !disable_previous}">
    <button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(0)" *ngIf="!disable_previous" >Previous</button>
    <button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(1)" *ngIf="!disable_next" >Next</button>
  </div>

  