.e-sign-footer{
  padding: 40px 50px;

  small{
    vertical-align: bottom;
  }
}

@media screen  and (max-width: 576px){
  .e-sign-footer{
    padding: 25px 0;
    text-align: center;
  }
}

@media screen  and (max-width: 320px){
  .e-sign-footer{
    padding: 25px 0;
    text-align: center;
  }
}
