@import "../../../../scss/variables";
.dropzone{

    .container {
      width: 100%;
      height: 244px;
      padding: 2rem;
      text-align: center;
      border: 2px dashed $DarkGrey3;
      position: relative;
      margin: 0 auto;
  
      input {
        opacity: 0;
        position: absolute;
        z-index: 2;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        cursor: pointer;
      }
  
      label {
        color: $Black;
        border: 1px solid $DarkSkin;
        border-radius: 6px;
        // background-color: $OpacityWhite60;
        font-size: 18px;
        padding: 12px 65px;
        font-weight: 700;
      }
  
      h3 {
        font-size: 20px;
        font-weight: 600;
        color: #38424c;
      }
    }
  
    .or-separator{
      position: relative;
  
      &:before, &:after{
        content: '';
        position: absolute;
        top: 70%;
        background-color: $Orange;
        width: 90px;
        height: 2px;
      }
  
      &:before{
        left: 37%;
      }
      &:after{
        right: 37%;
      }
    }
  
  }