<div class="upload-main-file" style="width: 98%; margin: 0 auto; margin-bottom: 40px; margin-top: 50px;">
    <div>
    <h3 class="fw-700 mb-3"><span class="clr-orange">Upload Blueprints for</span> 1323 South West 7, Cape Coral, FL</h3>
    <div class="row">
      <div class="col-lg-7">
        <div class="dropzone" >
          <div class="container" appDnd (fileDropped)="onFileDropped($event)">
            <input type="file" #fileDropRef id="fileDropRef" (change)="fileChange($event)"
                   accept="image/jpeg, image/png"/>
            <h3 class="clr-orange"><i class="fas fa-cloud-upload-alt mr-2"></i> Drag and drop file here</h3>
            <h3 class="or-separator clr-orange">or</h3>
            <label class="Browse File" for="fileDropRef">Browse File</label>
          </div>
        
        
        
          <!-- <div class="files-list" *ngIf="image_read">
            <div class="single-file">
              <div class="file-icon" style="width: 50px">
                <img [src]="image_url">
                {{image_name}} {{image_type}}
              </div>
        
              <div class="delete" (click)="deleteFile()">
                DELETE ICON
              </div>
            </div>
          </div> -->
        </div>
          </div>
          <div class="col-lg-5">
            <div class="media bg-clr-light-silver border h-100 p-3">
              <img class="align-self-center mr-3" src="https://www.w3schools.com/howto/img_avatar.png" alt="upload img" style="width:140px; height: 140px; border-radius: 50%;">
              <div class="media-body ml-5">
                <h3 class="mt-0 fw-700 mb-0">Marcus Bloom</h3>
                <h5 class="clr-orange mb-3">Estimator</h5>
               <ul>
                  <li class="mb-1"><img src="https://odie.s3.amazonaws.com/dummy/Path+677.svg" alt="language"> <span style="margin-left:10px;">Latin, English</span> </li>
                  <li class="mb-1"><img src="https://odie.s3.amazonaws.com/dummy/Group+1963.svg" alt="vet"> <span style="margin-left:10px;">Vietnam Army Vet</span></li>
                  <li class="mb-1"><img src="https://odie.s3.amazonaws.com/dummy/Group+1550.svg" alt="fan"> <span style="margin-left:13px;">Buffalo Bills Fan</span></li>
                  <li class="mb-1"><img src="https://odie.s3.amazonaws.com/dummy/Path+644.svg" alt="gmail"> <span style="margin-left:10px;">marcus@romanroofing.com</span></li>
                  <li class="mb-1"><img src="https://odie.s3.amazonaws.com/dummy/Group+1566.svg" alt="phone number"> <span style="margin-left:17px;">656 565 4655</span></li>
               </ul>
              </div>
            </div>
          </div>
    </div>
   </div>
  </div>