<div *ngIf="project">
  <div class="mb-3">
    <div class="container-fluid">
      <div class="job-detail-header">
        <div class="row">
          <div class="col-md-8 my-auto">
            <a *ngIf="structure.customer_milestones == 'estimator_scheduled'  || structure.customer_milestones == 'assessment_completed' || structure.customer_milestones == 'estimation_received'" class="btn-back-arrow" (click)="navigate('/customer/upcoming-jobs',2)"><i class="far fa-long-arrow-left"></i> Back</a>
            <a *ngIf="structure.customer_milestones == 'job_signed' || structure.customer_milestones == 'permit_applied'  || structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed'" class="btn-back-arrow" (click)="navigate('/customer/current-jobs',4)"><i class="far fa-long-arrow-left"></i> Back</a>
            <ul class="inline-list">
              <li>
                <p class="mb-0 clr-dark-grey-1 list-bdr-right"><i class="fas fa-map-marker-alt"></i> {{property.full_address}}</p>
              </li>
              <li>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='car_port'"><i class="fas fa-home mr-2"></i> Car Port</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House</p>
                <p class="mb-0 clr-dark-grey-1" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
              </li>
            </ul>
          </div>
          <div class="col-md-4 my-auto">
            <div class="service-type">
              <p class="clr-orange fw-700 mb-0" *ngIf="structure.project_type=='reroof'">Service Type: <span class="clr-dark-grey-1 fw-400">Roof Replacement</span></p>
              <p class="clr-orange fw-700 mb-0" *ngIf="structure.project_type=='repair'">Service Type: <span class="clr-dark-grey-1 fw-400">Roof Repair</span></p>
              <p class="clr-orange fw-700 mb-0" *ngIf="structure.project_type=='new_construction'">Service Type: <span class="clr-dark-grey-1 fw-400">New Construction</span></p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid mb-4">
    <div class="current-job-milestones bg-clr-light-silver">
      <h4 class="heading-s-20">Milestones</h4>
      <ul class="steps-progress-bar_current-jobs" *ngIf="structure.customer_milestones == 'job_signed' || structure.customer_milestones == 'permit_applied'  || structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed'">

        <li [ngClass]="{'active':(structure.customer_milestones == 'permit_applied'  || structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}" >
          <h6 class="fw-600 f-s-16">Permit Applied</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

        <li [ngClass]="{'active':(structure.customer_milestones == 'dry_in_scheduled' || structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}">
          <h6 class="fw-600 f-s-16">Tear Off Crew Scheduled</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

        <li [ngClass]="{'active':( structure.customer_milestones == 'final_scheduled' || structure.customer_milestones == 'job_completed')}">
          <h6 class="fw-600 f-s-16">Installation Crew Scheduled</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

        <li [ngClass]="{'active':( structure.customer_milestones == 'job_completed')}">
          <h6 class="fw-600 f-s-16">Job Completed</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

        <li>
          <h6 class="fw-600 f-s-16">Final Payment</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>
      </ul>

      <ul class="steps-progress-bar_upcoming-jobs" *ngIf="structure.customer_milestones == 'estimator_scheduled'  || structure.customer_milestones == 'assessment_completed' || structure.customer_milestones == 'estimation_received' ">

        <li [ngClass]="{'active':(structure.customer_milestones == 'estimator_scheduled'  || structure.customer_milestones == 'assessment_completed' || structure.customer_milestones == 'estimation_received' || structure.customer_milestones == 'job_signed')}">
          <h6 class="fw-600 f-s-16">Estimator Scheduled</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

        <li [ngClass]="{'active':(structure.customer_milestones == 'assessment_completed' || structure.customer_milestones == 'estimation_received' || structure.customer_milestones == 'job_signed')}">
          <h6 class="fw-600 f-s-16">Assessment Completed</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

        <li [ngClass]="{'active':(structure.customer_milestones == 'estimation_received' || structure.customer_milestones == 'job_signed')}">
          <h6 class="fw-600 f-s-16">Estimations Received</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

        <li [ngClass]="{'active':(structure.customer_milestones == 'job_signed')}">
          <h6 class="fw-600 f-s-16">Job E-Signed</h6>
          <!-- <div class="mb-2">
            <span class="f-s-12 list-bdr-right">04/18/21</span>
            <span class="f-s-12">07:00 PM</span>
          </div> -->
        </li>

      </ul>


    </div>
  </div>

  <div class="all-upcoming-appointments mb-5" *ngFor="let appointment of structure.appointments">
    <div class="container-fluid">
      <div class="appointments-wrapper">
        <div class="appointment-box">
          <div class="row">
            <div class="col-md-2" >
              <ul class="inline-list">
                <li class="primary-black list-bdr-right pl-0">{{appointment.start | date : 'shortDate'}}</li>
                <li class="primary-black">{{appointment.start | date : 'shortTime'}}</li>
              </ul>
            </div>
            <div class="col-md-6">
              <div class="text-center">
                <ul class="inline-list">
                  <li class="list-bdr-right">
                    <p class="m-0"><i class="fas fa-map-marker-alt mr-2"></i> {{property.full_address}}</p>
                  </li>
                  <li>
                    <p class="m-0" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                    <p class="m-0" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                    <p class="m-0" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                    <p class="m-0" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                    <p class="m-0" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                    <p class="m-0" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                    <p class="m-0" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House</p>
                    <p class="m-0" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
                  </li>
                </ul>
              </div>
            </div>
            <div class="col-md-2">
              <div class="media">
                <img [src]="appointment.estimator.avatar_image_location" class="mr-3" alt="dummy-img.jpg">
                <div class="media-body">
                  <h6 class="primary-black mt-0 mb-1 fw-700">{{appointment.estimator.first_name}} {{appointment.estimator.last_name}}</h6>
                  <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='evaluation'">Your Estimator</p>
                  <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='followup'">Your Estimator</p>
                  <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster Crew</p>
                  <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'">Dry In Crew</p>
                  <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='final_crew_scheduled'">Installation Crew</p>
                  <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='repair_crew_scheduled'">Reapir Crew</p>
                </div>
              </div>
            </div>
            <div class="col-md-2">
              <p *ngIf="appointment.appointment_type=='evaluation'" class="primary-black fw-700 m-0 text-right"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Free Estimate</p>
              <p *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'" class="primary-black fw-700 m-0 text-right"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Dry In Crew</p>
              <p *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'" class="primary-black fw-700 m-0 text-right"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Dumpster Crew</p>
              <p *ngIf="appointment.appointment_type=='final_crew_scheduled'" class="primary-black fw-700 m-0 text-right"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Final Crew</p>
              <p *ngIf="appointment.appointment_type=='repair_crew_scheduled'" class="primary-black fw-700 m-0 text-right"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Repair Crew</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="job-detail" >
    <div class="container-fluid">
      <div class="mb-5">
        <div class="row">
          <div class="col-md-12 mb-5" *ngIf="structure.media.length>0">
            <h4 class="heading-s-20 mb-4">Your Roofing Problem</h4>
            <div class="job-detail-carousel">
              <owl-carousel-o [options]="customOptions">
                <ng-template carouselSlide *ngFor="let photo of structure.media">
                  <div class="damage-photo-card">
                    <div class="card">
                      <a class="venobox" data-gall="damage-photo" href="{{photo.url}}">
                        <img class="card-img-top img-fluid" [src]="photo.url" alt="Card image cap">
                      </a>
                      <!-- <div class="card-body">
                        <p class="clr-dark-grey-1 fw-700"><i class="fas fa-map-marker-alt"></i> 1323 South West 7, Cape Coral, FL
                        </p>
                        <p class="clr-dark-grey-1 fw-700"><i class="fas fa-home-lg"></i> Main House</p>
                        <p class="clr-dark-grey-1 fw-700">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum is simply dummy
                          text of the printing and…</p>
                      </div> -->
                    </div>
                  </div>
                </ng-template>

              </owl-carousel-o>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 mb-5 mt-5" *ngFor="let appointment of structure.appointments">
          <h4 class="heading-s-20 mb-4" *ngIf="appointment.appointment_type=='evaluation'">Estimator</h4>
          <h4 class="heading-s-20 mb-4" *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'">Tear Off Crew</h4>
          <h4 class="heading-s-20 mb-4" *ngIf="appointment.appointment_type=='final_crew_scheduled'">Installation Crew</h4>
          <h4 class="heading-s-20 mb-4" *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster Crew</h4>
          <h4 class="heading-s-20 mb-4" *ngIf="appointment.appointment_type=='repair_crew_scheduled'">Repair Crew</h4>

          <div class="production-box bg-clr-light-silver h-100">
            <div class="row">
              <div class="col-md-4">
                <div class="estimator-left">
                  <div class="estimator-pic">
                    <img class="estimator-img" [src]="appointment.estimator.avatar_image_location" alt="dummy-img.jpg">
<!--                    <img class="estimator-icon" src="assets/images/dashboard/icon-estimator.svg" alt="icon-estimator.svg">-->
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-7">
                    <div class="estimator-right">
                      <div class="estimator-info">
                        <h4 class="heading-s-20 mb-0">{{appointment.estimator.first_name}} {{appointment.estimator.last_name}}</h4>
                        <p class="clr-orange fw-700 mb-1" *ngIf="appointment.appointment_type=='evaluation'">Estimator</p>
                        <p class="clr-orange fw-700 mb-1" *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'">Tear Off Crew Leader</p>
                        <p class="clr-orange fw-700 mb-1" *ngIf="appointment.appointment_type=='final_crew_scheduled'">Final Crew Leader</p>
                        <p class="clr-orange fw-700 mb-1" *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster </p>
                        <p class="clr-orange fw-700 mb-1" *ngIf="appointment.appointment_type=='repair_crew_scheduled'">Repair Crew Leader </p>

                        <!-- <div class="stars mb-4">
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-dark-grey-3"></i>
                        </div> -->
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="text-right">
                      <!-- <a class="btn-secondary-odie btn-xs-odie" href="#">Send Message</a> -->
                    </div>
                  </div>
                  <div class="col-md-5">
                    <p class="clr-blue fw-700"><img src="assets/images/dashboard/icons/dashboard-icons/interest-1.png" alt="interest-1 icon"> {{ getInterest(appointment.estimator.interests,0) }}</p>
                    <p class="clr-blue fw-700"><img src="assets/images/dashboard/icons/dashboard-icons/interest-2.png" alt="interest-2 icon"> {{ getInterest(appointment.estimator.interests,1) }}</p>
                    <p class="clr-blue fw-700"><img src="assets/images/dashboard/icons/dashboard-icons/interest-3.png" alt="interest-3 icon"> {{ getInterest(appointment.estimator.interests,2) }}</p>
                  </div>
                  <div class="col-md-7">
                    <p class="clr-black fw-700"><i class="fas fa-envelope"></i> {{appointment.estimator.email}}</p>
                    <p class="clr-black fw-700"><i class="far fa-smile clr-black"></i> {{appointment.estimator.cell_phone}}</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-md-6 mb-5 mt-5" *ngIf="project.is_project">
          <h4 class="heading-s-20 mb-4">Tear Off Crew</h4>
          <div class="crew-box bg-clr-light-silver h-100">
            <div class="row">
              <div class="col-md-4">
                <div class="estimator-left">
                  <div class="estimator-pic mb-4">
                    <img class="estimator-img" src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                    <img class="estimator-icon" src="assets/images/dashboard/icon-estimator.svg" alt="icon-estimator.svg">
                  </div>
                  <div class="crew-images">
                    <img src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                    <img src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                    <img src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-7">
                    <div class="estimator-right">
                      <div class="estimator-info">
                        <h4 class="heading-s-20 mb-0">Marcus Bloom</h4>
                        <p class="clr-orange fw-700 mb-1">Estimator</p>
                        <div class="stars mb-4">
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-dark-grey-3"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="text-right">
                      <a class="btn-secondary-odie btn-xs-odie" href="#">Send Message</a>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <p class="clr-blue fw-700"><i class="fas fa-globe clr-black"></i> Latin, English</p>
                    <p class="clr-blue fw-700"><i class="far fa-smile clr-black"></i> Vietnam Army Vet</p>
                    <p class="clr-blue fw-700"><i class="fas fa-football-ball clr-black"></i> Buffalo Bills Fan</p>
                  </div>
                  <div class="col-md-7">
                    <p class="clr-black fw-700"><i class="fas fa-envelope"></i> marcus@romanroofing.com</p>
                    <p class="clr-black fw-700"><i class="far fa-smile clr-black"></i> 656 565 4655</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6 mb-5 mt-5" *ngIf="project.is_project">
          <h4 class="heading-s-20 mb-4">Installation Crew</h4>
          <div class="crew-box bg-clr-light-silver h-100">
            <div class="row">
              <div class="col-md-4">
                <div class="estimator-left">
                  <div class="estimator-pic mb-4">
                    <img class="estimator-img" src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                    <img class="estimator-icon" src="assets/images/dashboard/icon-estimator.svg" alt="icon-estimator.svg">
                  </div>
                  <div class="crew-images">
                    <img src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                    <img src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                    <img src="assets/images/dashboard/dummy-img.jpg" alt="dummy-img.jpg">
                  </div>
                </div>
              </div>
              <div class="col-md-8">
                <div class="row">
                  <div class="col-md-7">
                    <div class="estimator-right">
                      <div class="estimator-info">
                        <h4 class="heading-s-20 mb-0">Marcus Bloom</h4>
                        <p class="clr-orange fw-700 mb-1">Estimator</p>
                        <div class="stars mb-4">
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-orange"></i>
                          <i class="fas fa-star clr-dark-grey-3"></i>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <div class="text-right">
                      <a class="btn-secondary-odie btn-xs-odie" href="#">Send Message</a>
                    </div>
                  </div>
                  <div class="col-md-5">
                    <p class="clr-blue fw-700"><i class="fas fa-globe clr-black"></i> Latin, English</p>
                    <p class="clr-blue fw-700"><i class="far fa-smile clr-black"></i> Vietnam Army Vet</p>
                    <p class="clr-blue fw-700"><i class="fas fa-football-ball clr-black"></i> Buffalo Bills Fan</p>
                  </div>
                  <div class="col-md-7">
                    <p class="clr-black fw-700"><i class="fas fa-envelope"></i> marcus@romanroofing.com</p>
                    <p class="clr-black fw-700"><i class="far fa-smile clr-black"></i> 656 565 4655</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div> -->

        <!-- <div class="col-md-6 mb-5 mt-5" *ngIf="project.is_project">
          <h4 class="heading-s-20 mb-4">Material and Color</h4>
          <div class="product-material-and-color bg-clr-light-silver h-100">
            <div class="row">
              <div class="col-md-5">
                <div class="mb-5">
                  <h4 class="heading-s-20 mb-1">Roof Type</h4>
                  <p class="fw-700"><i class="fab fa-windows f-s-22 align-middle"></i> Shingle</p>
                </div>
                <div class="product-color">
                  <div class="media">
                    <img class="product-color-img mr-3" src="assets/images/dashboard/dummy-shingle.jpg" alt="dummy-shingle.jpg">
                    <div class="media-body">
                      <h5 class="heading-s-20">Roof Types</h5>
                      <p class="fw-700">Mission Brown</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="mb-5">
                  <h4 class="heading-s-20 mb-1">Product Manufacturer</h4>
                  <img class="product-manufaturer-img" src="assets/images/dashboard/gaf.png" alt="gaf.png">
                </div>
                <div class="product-line">
                  <h5 class="heading-s-20">Product Line</h5>
                  <p class="fw-700">GAF Timberline</p>
                </div>
              </div>
              <div class="col-md-3">
                <div class="text-right">
                  <a class="btn-secondary-odie btn-xs-odie" data-toggle="modal" href="#changeColor">Change Color</a>
                </div>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="row">
        <div class="col-md-6 mb-5 mt-5" *ngFor="let estimate of structure.estimates">
          <h5 class="heading-s-20" *ngIf="structure.name=='main_house'">Turnkey Reroof to the Main House</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='detached_garage'">Turnkey Reroof to the Detached Garage</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='pool_house'">Turnkey Reroof to the Pool House</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='boat_house'">Turnkey Reroof to the Boat House</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='shed'">Turnkey Reroof to the Shed</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='car_port'">Turnkey Reroof to the Car Port</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='secondary_house'">Turnkey Reroof to the Secondary House</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='store'">Turnkey Reroof to the Store</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='guest_house'">Turnkey Reroof to the Guest House</h5>
          <h5 class="heading-s-20" *ngIf="structure.name=='other'">Turnkey Reroof to the Other</h5>
          <div class="estimate-pdf-box" [ngClass]="estimate.is_signed ? 'accepted-estimate-border' : 'rejected-estimate-border'">
            <div class="estimate-pdf-box-header bg-clr-grey">
              <ul class="inline-list">
                <li class="list-bdr-right pl-0">
                  <p class="heading-s-20 m-0"><i class="fas fa-map-marker-alt mr-2"></i> {{property.full_address}}</p>
                </li>
                <li>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='car_port'"><i class="fas fa-home mr-2"></i> Car Port</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House</p>
                  <p class="heading-s-20 m-0" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>
                </li>
              </ul>
            </div>
            <div class="estimate-pdf-box-body">
              <div class="row">
                <div class="col-md-4">
                  <img class="img-fluid" src="assets/images/dashboard/icon-pdf.svg" alt="">
                </div>
                <div class="col-md-8">
                  <div class="pdf-details">
                    <div class="estimate-pdf-details">
                      <h5 class="heading-s-20" *ngIf="structure.name=='main_house'">Turnkey Reroof to the Main House</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='detached_garage'">Turnkey Reroof to the Detached Garage</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='pool_house'">Turnkey Reroof to the Pool House</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='car_port'">Turnkey Reroof to the Car Port</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='boat_house'">Turnkey Reroof to the Boat House</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='secondary_house'">Turnkey Reroof to the Secondary House</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='store'">Turnkey Reroof to the Store</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='shed'">Turnkey Reroof to the Shed</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='guest_house'">Turnkey Reroof to the Guest House</h5>
                      <h5 class="heading-s-20" *ngIf="structure.name=='other'">Turnkey Reroof to the Other</h5>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <p class="clr-orange fw-700 mb-0">Material Type</p>
                        <p class="clr-black f-s-15">{{estimate.product_info.roof_sub_type}}</p>
                      </div>
                      <div class="col-md-6">
                        <p class="clr-orange fw-700 mb-0">Underlayment</p>
                        <p class="clr-black f-s-15">{{estimate.product_info.underlayment_name}}</p>
                      </div>
                      <div class="col-md-6">
                        <p class="clr-orange fw-700 mb-0">Product Info</p>
                        <div class="product-info">
                          <img *ngIf="estimate.product_info.manufacturer_icon_url!=null" class="product-manufaturer-img mr-4" [src]="estimate.product_info.manufacturer_icon_url" alt="gaf.png">
                          <span *ngIf="estimate.product_info.product_line_name!=null">{{estimate.product_info.product_line_name}} {{estimate.product_info.series_name}}</span>
                          <!-- <img src="assets/images/dashboard/icon-timberlineHDZ.png" alt="icon-timberlineHDZ.png"> -->
                        </div>
                      </div>
                      <div class="col-md-6 mt-auto">
                        <div class="product-info" *ngIf="estimate.product_info.color_image!=null">
                          <img class="product-img mr-2" [src]="estimate.product_info.color_image" alt="dummy-shingle.jpg">
                          <span class="f-s-15 primary-black">{{estimate.product_info.color_name}}</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="estimate-pdf-box-footer bg-clr-grey">
              <div class="rejected-estimate-box" *ngIf="!estimate.is_signed"></div>
              <div class="accepted-estimate-box" *ngIf="estimate.is_signed"><i class="far fa-check text-white align-middle"></i></div>
              <div class="row">
                <div class="col-md-8">
                  <ul class="inline-list">
                    <li class="list-bdr-right-ht-10"><span class="clr-orange fw-700 mr-2">Received On:</span>{{estimate.created_at | date : 'shortDate'}}</li>
                    <li>{{estimate.created_at | date : 'shortTime'}}</li>
                  </ul>
                </div>
                <div class="col-md-4" *ngIf="!estimate.is_signed">
                  <div class="text-right">
                    <p class="mb-0 clr-red fw-700">Not Signed</p>
                  </div>
                </div>
                <div class="col-md-4" *ngIf="estimate.is_signed">
                  <div class="text-right">
                    <p class="mb-0 clr-green fw-700">Signed</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="modal resolve-issues-modal fade" id="changeColor" tabindex="-1" aria-labelledby="resolveIssuesLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header bg-clr-red">
          <h5 class="modal-title text-white" id="resolveIssuesLabel">Change Color</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <div class="issue border-0 p-0">
              <h5 class="heading-s-20">Color Selection for Shingle / Tiles / Metal</h5>
              <div class="color-selection mb-4">
                <span class="heading-s-20 align-middle mr-3">Show Premium Colors Only</span>
                <label class="switch">
                  <input type="checkbox" checked>
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="color-palletes text-center">
                <div class="row">
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="mb-3">
                      <img class="img-fluid mb-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="">
                      <p class="heading-s-20">Mission Brown</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="text-center mt-3">
                <a class="btn-primary-odie btn-md-odie" href="#">Confirm</a>
              </div>
            </div>
        </div>
      </div>
    </div>
  </div> -->
</div>
