@import "src/scss/variables";
.job-detail-header{

  ul.inline-list{
    display: inline-block;
    li{
      padding: 0;

      p{
        padding: 0 20px;
      }

      &:first-child{
        p{
          padding-left: 0;
        }
      }
    }
  }
  .service-type{
    text-align: right;

    form{
      .form-group{
        display: flex;
        align-items: center;
        margin-bottom: 0;

        label{
          flex-basis: 35%;
          margin-bottom: 0;
          margin-right: 5px;
          color: $Orange;
          font-weight: 700;
        }
        select{
          flex-basis: 65%;
        }
      }
    }
  }

}

.current-job-milestones{
  padding: 30px;
  h4{
    margin-bottom: 30px;
  }
}

.appointments-wrapper{
  .appointment-box{
    padding: 18px 30px;
    background-color: $Grey;
    border-radius: 6px;

    .row{
      align-items: center;
    }

    ul.inline-list{

      li{
        color: $Black;
        font-weight: 700;
        padding: 0 15px;
      }
    }
    .media{
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h6{
        font-size: 16px;
      }
      p{
        font-size: 13px;
      }
    }
  }
}


.estimator-img{
  width: 180px;
  height:180px;
  border-radius: 50%;
  object-fit: cover;
}

.crew-images{
  img{
    width: 50px;
    height: 50px;
    border: 4px solid $Grey;
    border-radius: 50%;
    margin-left: -10px;
  }
}
.product-color-img{
  width: 96px;
  height: 96px;
}
.product-manufaturer-img{
  width: 22px;
}
.estimator-box, .production-box, .crew-box, .product-material-and-color{
  padding: 30px 20px;
  p{
    font-size: 14px;

    i{
      margin-right: 5px;
    }
  }
  .estimator-left{
    text-align: center;
    .estimator-pic{
      position: relative;

      .estimator-icon{
        position: absolute;
        right: 21%;
        bottom: 0;
      }
    }
  }
}

.estimate-pdf-box{
  &-header{
    padding: 18px 20px;

    ul.inline-list{
      li{
        padding: 0 15px;
      }
    }
  }
  &-body{
    padding: 30px;

    .pdf-details{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .product-info{
      .product-manufaturer-img{
        width: 24px;
        height: 24px;
      }
      .product-img{
        width: 24px;
        height: 24px;
      }
    }
  }

  &-footer{
    position: relative;
    padding: 3px 14px 3px 44px;
    ul.inline-list{

      li{
        font-size: 14px;
      }
    }

  }
}

.accepted-estimate-box{
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: $Green;
}

.pending-estimate-box{
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: $Orange;
}

.accepted-estimate-border{
  border: 1px solid $Green;
}
