@import "src/scss/variables";
.estimates-header{
  ul.appointment-filters{
    li{
      display: inline-block;
      a{
        display: inline-block;
        color: $Black;
        padding: 15px 20px;
        border: 1px solid $DarkSkin;
        cursor: pointer;
        transition: ease .4s all;
      }
      a.active{
        background-color: $Orange;
        color: #FFFFFF;
        border: 1px solid $Orange;
      }
      a.active-green{
        background-color: $Green;
        color: #FFFFFF;
        border: 1px solid $Green;
      }
      a.active-red{
        background-color: $Red;
        color: #FFFFFF;
        border: 1px solid $Red;
      }
    }
  }
}

.estimate-pdf-box{
  &-header{
    padding: 18px 20px;

    ul.inline-list{
      li{
        padding: 0 15px;
      }
    }
  }
  &-body{
    padding: 30px;

    .pdf-details{
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .product-info{
      .product-manufaturer-img{
        width: 24px;
        height: 24px;
      }
      .product-img{
        width: 24px;
        height: 24px;
      }
    }
  }

  &-footer{
    position: relative;
    padding: 3px 14px 3px 44px;
    ul.inline-list{

      li{
        font-size: 14px;
      }
    }

  }
}




