<div class="estimates-header mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 my-auto">
        <h4 class="heading-s-20">Received Estimations</h4>
      </div>
      <!-- <div class="col-md-8">
        <ul class="appointment-filters text-right">
          <li>
            <a (click)="showActiveChanged(1)" [ngClass]="{'active':(show_active === 1)}">All</a>
          </li>
          <li>
            <a (click)="showActiveChanged(2)" [ngClass]="{'active-green':(show_active === 2)}">E-Signed</a>
          </li>
          <li>
            <a (click)="showActiveChanged(3)" [ngClass]="{'active-red':(show_active ===3)}">Un-Signed</a>
          </li>
        </ul>
      </div> -->
    </div>
  </div>
</div>

<div class="all-estimates">
  <!-- <div *ngIf="!properties" [ng2-loading]="loader" style="height: 100vh;"> -->
  <div *ngIf="!properties" [ng2-loading]="loader" >
  </div>
  <div class="container-fluid">

    <div  *ngFor="let property of properties">
      <div *ngFor="let structure of property.structures">
        <div class="row">
          <div class="col-md-6" *ngFor="let estimate of structure.estimates;" [ngClass]="estimate.disabled ? 'section-disabled' : ''">
            <a (click)="openEstimate(estimate)">
              <div>
                <div class="estimate-pdf-box mb-4" [ngClass]="estimate.is_signed ? 'accepted-estimate-border' : 'rejected-estimate-border'  ">
                  <div class="estimate-pdf-box-header bg-clr-grey">
                    <ul class="inline-list">
                      <li class="list-bdr-right pl-0">
                        <p class="heading-s-20 m-0"><i class="fas fa-map-marker-alt mr-2"></i> {{property.full_address}}</p>
                      </li>
                      <li>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='main_house'"><i class="fas fa-home mr-2"></i> Main House</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='detached_garage'"><i class="fas fa-home mr-2"></i> Detached Garage</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='pool_house'"><i class="fas fa-home mr-2"></i> Pool House</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='boat_house'"><i class="fas fa-home mr-2"></i> Boat House</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='secondary_house'"><i class="fas fa-home mr-2"></i> Secondary House</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='store'"><i class="fas fa-home mr-2"></i> Store</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='shed'"><i class="fas fa-home mr-2"></i> Shed</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='car_port'"><i class="fas fa-home mr-2"></i> Car Port</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='guest_house'"><i class="fas fa-home mr-2"></i> Guest House</p>
                        <p class="heading-s-20 m-0" *ngIf="structure.name=='other'"><i class="fas fa-home mr-2"></i> Other</p>



                      </li>
                    </ul>
                  </div>
                  <div class="estimate-pdf-box-body">
                    <div class="row">
                      <div class="col-md-4">
                        <img class="img-fluid" src="assets/images/dashboard/icon-pdf.svg" alt="">
                      </div>
                      <div class="col-md-8">
                        <div class="pdf-details">
                          <div class="estimate-pdf-details" *ngIf="estimate.product_info.project_type=='reroof'">
                            <h5 class="heading-s-20" *ngIf="structure.name=='main_house'">Turnkey Reroof to the Main House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='detached_garage'">Turnkey Reroof to the Detached Garage</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='pool_house'">Turnkey Reroof to the Pool House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='boat_house'">Turnkey Reroof to the Boat House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='secondary_house'">Turnkey Reroof to the Secondary House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='store'">Turnkey Reroof to the Store</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='shed'">Turnkey Reroof to the Shed</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='guest_house'">Turnkey Reroof to the Guest House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='other'">Turnkey Reroof to the Other</h5>
                          </div>
                          <div class="estimate-pdf-details" *ngIf="estimate.product_info.project_type=='repair'">
                            <h5 class="heading-s-20" *ngIf="structure.name=='main_house'">Turnkey Repair to the Main House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='detached_garage'">Turnkey Repair to the Detached Garage</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='pool_house'">Turnkey Repair to the Pool House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='boat_house'">Turnkey Repair to the Boat House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='secondary_house'">Turnkey Repair to the Secondary House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='store'">Turnkey Repair to the Store</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='guest_house'">Turnkey Repair to the Guest House</h5>
                            <h5 class="heading-s-20" *ngIf="structure.name=='other'">Turnkey Repair to the Other</h5>
                          </div>
                          <div class="row">
                            <div class="col-md-6">
                              <p class="clr-orange fw-700 mb-0">Material Type</p>
                              <p class="clr-black f-s-15">{{estimate.product_info.roof_sub_type}}</p>
                            </div>
                            <div class="col-md-6">
                              <p class="clr-orange fw-700 mb-0">Underlayment</p>
                              <p class="clr-black f-s-15">{{estimate.product_info.underlayment_name}}</p>
                            </div>
                            <div class="col-md-6">
                              <p class="clr-orange fw-700 mb-0">Product Info</p>
                              <div class="product-info">
                                <img *ngIf="estimate.product_info.manufacturer_icon_url!=null"  class="product-manufaturer-img mr-4" [src]="estimate.product_info.manufacturer_icon_url" alt="gaf.png">
                                <span *ngIf="estimate.product_info.product_line_name!=null">{{estimate.product_info.product_line_name}} {{estimate.product_info.series_name}}</span>
                                <!-- <img src="assets/images/dashboard/icon-timberlineHDZ.png" alt="icon-timberlineHDZ.png"> -->
                              </div>
                            </div>
                            <div class="col-md-6 mt-auto">
                              <div class="product-info" *ngIf="estimate.product_info.color_image!=null">
                                <img class="product-img mr-2" [src]="estimate.product_info.color_image" alt="dummy-shingle.jpg">
                                <span class="f-s-15 primary-black">{{estimate.product_info.color_name}}</span>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="estimate-pdf-box-footer bg-clr-grey">
                    <div class="rejected-estimate-box" *ngIf="!estimate.is_signed"></div>
                    <div class="accepted-estimate-box" *ngIf="estimate.is_signed"><i class="far fa-check text-white align-middle"></i></div>
                    <div class="row">
                      <div class="col-md-8">
                        <ul class="inline-list">
                          <li class="list-bdr-right-ht-10"><span class="clr-orange fw-700 mr-2">Received On:</span>{{estimate.created_at | date : 'shortDate'}}</li>
                          <li>{{estimate.created_at | date : 'shortTime'}}</li>
                        </ul>
                      </div>
                      <div class="col-md-4" *ngIf="!estimate.is_signed">
                        <div class="text-right">
                          <p class="mb-0 clr-red fw-700">Not Signed</p>
                        </div>
                      </div>
                      <div class="col-md-4" *ngIf="estimate.is_signed">
                        <div class="text-right">
                          <p class="mb-0 clr-green fw-700">Signed</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </a>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-end px-3" [ngClass]="{'justify-content-between': !disable_next && !disable_previous}">
  <button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(0)" *ngIf="!disable_previous" >Previous</button>
  <button class="btn-primary-odie btn-sm-odie" (click)="getPaginatedResults(1)" *ngIf="!disable_next" >Next</button>
</div>


