
<main [ng2-loading]="loader">
  <div class="damaged-photos">
    <div class="container-fluid">
      <h3 class="f-s-30 m-b-25 fw-700">Your Roofing Problem</h3>
      <div class="photos-wrapper">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="photos hide-scrollbar bg-clr-light-silver">
              <div class="row" *ngIf="damaged_photos.length">
                <!--<div class="col-md-3" *ngFor="let photo of damaged_photos">
                  <a class="venobox" data-gall="damage-photo" [attr.href]="photo.url" >
                    <img class="img-fluid" [src]="photo.url" [alt]="photo.url">
                  </a>
                </div>-->
                <!-- <div *ngIf="damaged_photos.length"> -->
                  <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3" *ngFor="let photo of damaged_photos">
                    <a class="venobox vbox-esign" data-gall="damage-photo" href="{{photo.url}}" >
                      <img class="img-fluid" [src]="photo.url" alt="damage-roof.jpg">
                    </a>
                  </div>
                <!-- </div> -->




              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <a class="btn-full-block bg-clr-light-silver" (click)="routerNavigator('estimation/open-estimation')">
              <div class="full-btn-text">
                <p class="mb-0 clr-black">Roman turn key roofing solution</p>
                <i class="fas fa-arrow-right clr-orange"></i>
              </div>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

