.damaged-photos{
  padding: 20px 35px;

  .photos-wrapper{

    .photos{
      padding: 40px 40px 0 40px;
      height: 462px;

      a{
        display: inline-block;
      }
      img{
        margin-bottom: 40px;
      }

      .vbox-esign{
        img{
          height: 200px;
          width: 100%;
          object-fit: cover;
        }
      }

    }
  }
}

/*MEDIA QUERIES*/

@media screen and (max-width: 1199px){
  .damaged-photos{

    .photos{
      height: 375px !important;
    }

    .btn-full-block {
      font-size: 30px !important;
      padding: 10px;
    }
  }
}

@media screen and (max-width: 991px){
  .damaged-photos{

    .photos{
      margin-bottom: 30px;
    }

    .btn-full-block {
      font-size: 30px;
      padding: 15px;

      p{
        display: inline-block;
        margin-right: 20px;
      }
    }
  }
}


@media screen and (max-width: 767px){
  .damaged-photos{
    padding: 0;

    h3{
      text-align: center;
    }

    .photos{
      height: 390px !important;
      margin-bottom: 30px;
    }

    .btn-full-block {
      font-size: 30px;
      padding: 15px;
    }
  }
}

@media screen and (max-width: 320px) {
  .damaged-photos{
    padding: 0;

    h3{
      font-size: 18px;
      text-align: center;
    }

    .photos-wrapper{
      .photos{
        height: 205px !important;
        padding: 15px;
        margin-bottom: 30px;
      }
    }
  }
}


