.team-btn{
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  padding: 34px;
  position: absolute;
  right: 0;
  background-color: #F7F7F7;
  font-weight: 600;
  color: #272727;
  text-align: center;
  font-size: 20px;
  box-shadow: -6px 0px 10px #0000001A;

  i{
    margin-right: 10px;
  }

  &:hover{
    color: #272727;
  }

}
