
.page-6{
  .page-6-body{

    padding: 30px 40px 0;
    margin-bottom: 30px;

    .table-wrapper{
      padding: 30px;
      background-color: $LightSilver;

      table{
        margin-bottom: 30px;
        .table-heading{
          font-size: 20px;
          font-weight: 700;
        }
        .table-description{
          font-size: 16px;
        }
      }
    }

  }


}
