<div class="upcoming-appointments-header mb-4">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 col-xl-4 my-auto">
        <h4 class="heading-s-20 text-center text-lg-left mb-4 mb-xl-0">Upcoming Appointment(s)</h4>
      </div>
      <div class="col-12 col-xl-8">
        <ul class="appointment-filters text-center text-xl-right">
          <li>
            <a (click)="showActiveChanged(1)" [ngClass]="{'active':(show_active === 1)}">All</a>
          </li>
          <li>
            <a (click)="showActiveChanged(2)" [ngClass]="{'active':(show_active === 2)}">Free Evaluations</a>
          </li>
          <li>
            <a (click)="showActiveChanged(3)" [ngClass]="{'active':(show_active ===3)}">Tear Off Crew Meeting</a>
          </li>
          <li>
            <a (click)="showActiveChanged(4)" [ngClass]="{'active':(show_active ===4)}">Final Crew Meeting</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="all-upcoming-appointments" >
  <div *ngIf="!appointments" [ng2-loading]="loader" style="height: 100vh;">
  </div>
  <div class="container-fluid">
    <div class="appointments-wrapper">

      <div class="appointment-box mb-3" *ngFor="let appointment of appointments">
        <div class="row">
          <div class="col-12 col-lg-2 order-1 order-xl-1">
            <div class="mb-4 mb-xl-0">
              <ul class="inline-list text-center text-lg-left">
                <li class="primary-black list-bdr-right pl-0">{{appointment.start | date : 'shortDate'}}</li>
                <li class="primary-black">{{appointment.start | date : 'shortTime'}}</li>
              </ul>
            </div>
          </div>
          <div class="col-12 col-lg-5 order-2 order-xl-2">
            <div class="mb-4 mb-xl-0">
              <div class="text-center">
                <ul class="inline-list">
                  <li class="">
                    <p class="m-0"><i class="fas fa-map-marker-alt mr-2"></i> {{appointment.property.full_address}}</p>
                  </li>
                  <!-- <li>
                    <p class="m-0"><i class="fas fa-home mr-2"></i> Main House</p>
                  </li> -->
                </ul>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-3  order-4 order-xl-3">
            <div class="mb-4 mb-xl-0">
              <div class="d-flex justify-content-center justify-content-xl-start">
                <div class="media">
                  <img [src]="appointment.estimator.avatar_image_location" class="mr-3" alt="dummy-img.jpg">
                  <div class="media-body">
                    <h6 class="primary-black mt-0 mb-1 fw-700">{{appointment.estimator.first_name}} {{appointment.estimator.last_name}}</h6>
                    <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='evaluation'">Your Estimator</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='followup'">Your Estimator</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'">Dumpster Crew</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'">Dry In Crew</p>
                    <p class="clr-orange fw-700 mb-0" *ngIf="appointment.appointment_type=='final_crew_scheduled'">Installation Crew</p>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 col-lg-2 order-3 order-xl-4">
            <div class="mb-4 mb-xl-0">
              <p class="primary-black fw-700 text-center text-xl-left m-0" *ngIf="appointment.appointment_type=='evaluation'"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Evaluation</p>
              <p class="primary-black fw-700 text-center text-xl-left m-0" *ngIf="appointment.appointment_type=='followup'"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Follow Up</p>
              <p class="primary-black fw-700 text-center text-xl-left m-0" *ngIf="appointment.appointment_type=='dry_in_dumpster_scheduled'"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Dry in Dumpster Meeting</p>
              <p class="primary-black fw-700 text-center text-xl-left m-0" *ngIf="appointment.appointment_type=='dry_in_crew_scheduled'"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Dry In Crew Meeting</p>
              <p class="primary-black fw-700 text-center text-xl-left m-0" *ngIf="appointment.appointment_type=='final_crew_scheduled'"><i class="fas fa-calendar-alt clr-orange mr-2"></i> Final Crew Meeting</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<button (click)="getPaginatedResults(0)" *ngIf="!disable_previous" >Previous</button>
<button (click)="getPaginatedResults(1)" *ngIf="!disable_next" >Next</button>


