@import "src/scss/variables";
.upcoming-appointments-header{
  ul.appointment-filters{
    li{
      display: inline-block;
      a{
        display: inline-block;
        color: $Black;
        padding: 15px 20px;
        border: 1px solid $DarkSkin;
        cursor: pointer;
        transition: ease .4s all;
      }
      a.active{
        background-color: $Orange;
        color: #FFFFFF;
        border: 1px solid $Orange;
      }
    }
  }
}
.appointments-wrapper{
  .appointment-box{
    padding: 18px 30px;
    background-color: $Grey;
    border-radius: 6px;

    .row{
      align-items: center;
    }

    ul.inline-list{

      li{
        color: $Black;
        font-weight: 700;
        padding: 0 15px;
      }
    }
    .media{
      img{
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
      h6{
        font-size: 16px;
      }
      p{
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 767px){

  .upcoming-appointments-header{
    ul.appointment-filters{
      li{
        display: block;
        margin-bottom: 10px;

        a{
          display: block;
        }
      }
    }
  }
}


