@import "variables";
body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Lato;

}

.full-width > .container-fluid{
  padding-left: 0;
  padding-right: 0;
}
a{
  text-decoration: none;
  cursor: pointer;

  &:hover{
    text-decoration: none;
  }
}
ul,li{
  margin: 0;
  padding: 0;
  list-style-type: none;
}

//ODIE Scrollbar

::-webkit-scrollbar-thumb {
  background-color: $DarkSkin;

}

::-webkit-scrollbar {
  height: 5px;
}

::-webkit-scrollbar-track{
  background-color: #EBEAE8;
}

//ODIE Scrollbar End

//HIDE INPUT TYP NUMBER ARROWS

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//HIDE INPUT TYP NUMBER ARROWS END

@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Light.woff2");
  font-weight: 300;
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Regular.woff2");
  font-weight: 400;
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Bold.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Lato;
  src: url("../assets/fonts/Lato-Black.woff2");
  font-weight: 900;
}

@font-face {
  font-family: Pacifico;
  src: url("../assets/fonts/Pacifico-Regular.woff2");
  font-weight: 700;
}
@font-face {
  font-family: Sacramento;
  src: url("../assets/fonts/Sacramento-Regular.woff2");
  font-weight: 900;
}


