.rejected-estimate-border{
  border: 1px solid $Red;
}
.accepted-estimate-border{
  border: 1px solid $Green !important;
}
.pending-estimate-border{
  border: 1px solid $Orange !important;
}
.border-right-darkskin{
  border-right: 1px solid $DarkSkin;
}
