@import "variables";
$OpacityWhite60: rgba(255,255,255,.6);

.btn-back-arrow{
  display: inline-block;
  color: $Orange;
  margin-right: 20px;
  font-size: 16px;
  font-weight: 700;

  &:hover{
    color: $Orange;
  }
}

.btn-primary-odie{
  display: inline-block;
  color: #FFFFFF;
  font-size: 18px;
  padding: 14px 20px;
  border-radius: 6px;
  text-decoration: none;
  cursor: pointer;

  &:hover{
    text-decoration: none;
    color: #FFFFFF;
  }
}

/* ODIE-BUTTONS */

.btn-primary-odie{
  display: inline-block;
  color: $Black;
  background-color: $Skin;
  font-size: 16px;
  padding: 16px 30px;
  border: 1px solid $DarkSkin;
  border-radius: 6px;
  font-weight: 700;
  transition: all .4s ease;

  &:hover{
    color: #FFFFFF;
    background-color: $Orange;
    border: 1px solid $Orange;
  }

  &:focus{
    color: #FFFFFF;
    background-color: $Black;
    border: 1px solid $Black
  }
}

.btn-secondary-odie{
  display: inline-block;
  color: $Black;
  background-color: $OpacityWhite60;
  font-size: 16px;
  padding: 16px 30px;
  border: 1px solid $DarkSkin;
  border-radius: 6px;
  font-weight: 700;
  transition: all .4s ease;

  &:hover{
    color: #FFFFFF;
    background-color: $Orange;
    border: 1px solid $Orange;
  }

  &:focus{
    color: #FFFFFF;
    background-color: $Black;
    border: 1px solid $Black
  }
}

.btn-xs-odie{
  font-size: 14px !important;
  padding: 12px 10px !important;
}

.btn-sm-odie{
  font-size: 15px !important;
  padding: 12px 20px !important;
}

.btn-md-odie{
  font-size: 18px !important;
  padding: 16px 50px !important;
}

.btn-lg-odie{
  font-size: 22px !important;
  padding: 21px 58px !important;
}

/* ODIE-BUTTONS END*/



.btn-disabled{
  opacity: .5 !important;
  pointer-events: none;
}



.btn-full-block{
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-weight: 700;
  padding: 30px;
  text-align: center;
}

.btn-extra-large{
  font-size: 24px;
  color: #272727;
  font-weight: 700;
  padding: 20px 60px;
  border-radius: 6px;
  text-decoration: none;

  &:hover{
    text-decoration: none;
  }

}



/*CUSTOM RADIO BUTTON*/

/* The container */
.custom-radio-btn {
  display: block;
  position: relative;
  padding-left: 35px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */

.custom-radio-btn input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */

label.custom-radio-btn{
  font-size: 16px;
}
.checkmark {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  height: 26px;
  width: 26px;
  background-color: #FFFFFF;
  border: 1px solid $DarkGrey3;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.custom-radio-btn:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.custom-radio-btn input:checked ~ .checkmark {
  background-color: #FFFFFF;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.custom-radio-btn input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.custom-radio-btn .checkmark:after {
  top: 5px;
  left: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: $Orange;
}

/*CUSTOM RADIO BUTTON END*/

@media screen and (max-width: 576px){
  .btn-full-block{
    font-size: 30px;
    padding: 15px;
  }
}

@media screen and (max-width: 320px) {
  .btn-full-block{
    font-size: 15px;
    padding: 15px;
  }

  .btn-extra-large{
    padding: 13px 15px;
  }
  .btn-md-odie{
    font-size: 13px !important;
    padding: 12px 15px !important;
  }
  .add-signature-btns{
    text-align: center;
  }
}
