$OpacityWhite60: rgba(255,255,255,.6);

.dashboard-damage-photos{
  .owl-carousel.owl-theme{
    .owl-stage-outer{
      .owl-item{
        .damage-photo-card{
          .card{
            border-radius: 6px !important;

            img{
              width: 100%;
              height: 330px;
              object-fit: cover;
            }

            .card-body{
              p{
                i{
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
    .owl-nav{
      position: absolute;
      top: -25%;
      right: 0;
      .owl-prev{
        margin-right: 20px;
      }
      .owl-prev, .owl-next{
        background: $OpacityWhite60;
        padding: 5px 10px;
        border: 1px solid $DarkSkin;
        transition: ease .4s all;

        i{
          color: $Black;
          font-size: 24px;
        }

        &:hover{
          background-color: $Orange;
          i{
            color: #FFFFFF;
          }
        }
      }
    }
  }

}

.job-detail{
  .owl-carousel.owl-theme{
    .owl-stage-outer{
      .owl-item{
        .damage-photo-card{
          .card{
            border-radius: 6px !important;

            img{
              border-top-left-radius: 6px;
              border-top-right-radius: 6px;

              width: 100%;
              height: 330px;
              object-fit: cover;
            }

            .card-body{
              p{
                i{
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }
    }
    .owl-nav{
      position: absolute;
    top: -25%;
    right: 0;
      .owl-prev{
        margin-right: 20px;
      }
      .owl-prev, .owl-next{
        background: $OpacityWhite60;
        padding: 5px 10px;
        border: 1px solid $DarkSkin;
        transition: ease .4s all;

        i{
          color: $Black;
          font-size: 24px;
        }

        &:hover{
          background-color: $Orange;
          i{
            color: #FFFFFF;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 575px){
  .dashboard-damage-photos{
    .owl-carousel.owl-theme{

      .card-body{
        p{
          font-size: 20px;
        }
      }
      .owl-nav{
        position: static;
      }
    }
  }

}

@media screen and (max-width: 320px){
  .dashboard-damage-photos{
    .owl-carousel.owl-theme{
      .owl-nav{
        position: static;
      }
    }
  }

}
