/* COLORS CSS START */
.clr-white{
  color: #FFFFFF !important;
}
.clr-black{
  color: #272727 !important;
}
.clr-dark-grey-1{
  color: #47494A !important;
}
.clr-dark-grey-2{
  color: #818181 !important;
}
.clr-dark-grey-3{
  color: #B9B9B9 !important;
}
.clr-grey{
  color: #EBEAE8 !important;
}
.clr-light-silver{
  color: #F7F7F7 !important;
}
.clr-orange{
  color: #D18808 !important;
}
.clr-green{
  color: #628B07 !important;
}
.clr-blue{
  color: #1774A2 !important;
}
.clr-red{
  color: #A40803 !important;
}
.clr-red-bright{
  color: #BF0101 !important;
}
.clr-pink{
  color: #EDE4E4 !important;
}
.clr-skin{
  color: #EAE5DE !important;
}
.clr-dark-skin{
  color: #D9D2C9 !important;;
}

.clr-dark-skin-2{
  color: #DFE2DA !important;;
}

/* COLORS CSS END */


/* BACKGROUND COLORS CSS START */

.bg-clr-black{
  background-color: #272727 !important;
}
.bg-clr-dark-grey-1{
  background-color: #47494A !important;
}
.bg-clr-dark-grey-2{
  background-color: #818181 !important;
}
.bg-clr-dark-grey-3{
  background-color: #B9B9B9 !important;
}
.bg-clr-grey{
  background-color: #EBEAE8 !important;
}
.bg-clr-light-silver{
  background-color: #F7F7F7 !important;
}
.bg-clr-orange{
  background-color: #D18808 !important;
}
.bg-clr-green{
  background-color: #628B07 !important;
}
.bg-clr-blue{
  background-color: #1774A2 !important;
}
.bg-clr-red{
  background-color: #A40803 !important;
}
.bg-clr-red-bright{
  background-color: #BF0101 !important;
}
.bg-clr-pink{
  background-color: #EDE4E4 !important;
}
.bg-clr-skin{
  background-color: #EAE5DE !important;
}
.bg-clr-dark-skin{
  background-color: #D9D2C9 !important;
}

.bg-clr-dark-skin-2{
  color: #DFE2DA !important;;
}

/* BACKGROUND COLORS CSS END */


/* BORDER COLORS CSS START */

.border-clr-black{
  border-color: #272727;
}
.border-clr-dark-grey-1{
  border-color: #47494A;
}
.border-clr-dark-grey-2{
  border-color: #818181;
}
.border-clr-dark-grey-3{
  border-color: #B9B9B9;
}
.border-clr-grey{
  border-color: #EBEAE8;
}
.border-clr-light-silver{
  border-color: #F7F7F7;
}
.border-clr-orange{
  border-color: #D18808;
}
.border-clr-green{
  border-color: #628B07;
}
.border-clr-blue{
  border-color: #1774A2;
}
.border-clr-red{
  border-color: #A40803;
}
.border-clr-pink{
  border-color: #EDE4E4;
}
.border-clr-skin{
  border-color: #EAE5DE;
}
.border-clr-dark-skin{
  border-color: #D9D2C9;
}

/* BORDER COLORS CSS END */
