@import "variables";
@import "mixins";

.list-bdr-right{
  @include list-bdr-right(20px);
}
.list-bdr-right-ht-10{
    @include list-bdr-right(10px)
}

ul.steps-progress-bar_upcoming-jobs{
  li{
    position: relative;
    display: inline-block;
    width: 25%;
    text-align: center;
    color: $Black;

    @include progress-bar-common-style;
  }

  li.active{

    &:after{
      background-color: $Green;
      border: 1px solid $Green;
      color: #FFFFFF;
    }

    & + li:before{
      border-top: 4px solid $Green;
    }
  }
}


ul.steps-progress-bar_current-jobs{
  li{
    position: relative;
    display: inline-block;
    width: 20%;
    text-align: center;
    color: $Black;

    @include progress-bar-common-style;
  }

  li.active{

    &:after{
      background-color: $Green;
      border: 1px solid $Green;
      color: #FFFFFF;
    }

    & + li:before{
      border-top: 4px solid $Green;
    }
  }
}

.required-star{
  &:after{
    content: '*';
    color: $Red;
    margin-left: 3px;
  }
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 0;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: $Green;
}

input:focus + .slider {
  box-shadow: 0 0 1px $Green;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.label-box{
  display: inline-block;
  width: 32px;
  height: 32px;
}


.rejected-estimate-box{
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: $Red;
}
.accepted-estimate-box{
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: $Green;
}
.pending-estimate-box{
  position: absolute;
  width: 30px;
  top: 0;
  left: 0;
  bottom: 0;
  text-align: center;
  background-color: $Orange;
}
