@import "mixins";
.img-40{
  width: 40px;
  height: 40px;
}
.img-50{
  width: 50px;
  height: 50px;
}

.customer-header-img{
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid $DarkGrey2;
}

.primary-black{
  color: #272727;
}
.text-grey-1{
  color: #656565;
}

.resize-none{
  resize: none;
}
.input-shadow-orange{
  &:focus{
    box-shadow: 0px 0px 6px rgba(209,136,8,.60);
    border: 1px solid #D18808;
  }
}

.cursor-pointer{
  cursor: pointer;
}

.error-border{
  border: 1px solid #A40803;
}
.header-logo-width{
  width: 175px;
}
ul.inline-list{

  li{
    display: inline-block;
    padding: 0 7px;

    &:first-child{
      padding-left: 0;
    }
  }

}

.section-disabled{
  opacity: .25;
  pointer-events: none;
}

.cp-scrollbar{
  overflow: auto;
  scrollbar-width: 5px; //Hide scrollbar on Mozilla


  //Hide Scrollbar on Chrome
  &::-webkit-scrollbar {
    width: 5px;
  }
}

.hide-scrollbar{
  overflow: auto;
  scrollbar-width: none; //Hide scrollbar on Mozilla


  //Hide Scrollbar on Chrome
  &::-webkit-scrollbar {
    width: 0;
  }
}
