.img-rounded-xxs{
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}
.img-rounded-lg{
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
}
.img-rounded-xl{
  width: 220px;
  height: 220px;
  border-radius: 50%;
  object-fit: cover;
}
.img-rounded-xxl{
  width: 260px;
  height: 260px;
  border-radius: 50%;
  object-fit: cover;
}

.logo-sm{
  width: 110px;
}
