@import "variables";

@mixin list-bdr-right($ht){
  position: relative;

  &:after{
    content: '';
    position: absolute;
    height: $ht;
    width: 2px;
    right: 0;
    background-color: $BgOdieGold;
    top: 50%;
    transform: translateY(-50%);
  }
}

@mixin progress-bar-common-style{

  span{
    padding: 0 10px;
  }

  span.list-bdr-right{
    @include list-bdr-right(10px)
  }


  &:before{
    content: '';
    position: absolute;
    width: 100%;
    border-top: 1px dashed gainsboro;
    background-color: $Green;
    top: calc(58% + 2px);
    left: -50%;
    transition: all .7s ease;
  }

  &:after{
    content: '';
    display: block;
    background-color: #FFFFFF;
    border: 1px solid $Green;
    width: 20px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    margin: 0 auto 10px;
    border-radius: 50%;
    transition: all .7s ease;
    position: relative;
    z-index: 1;
  }

  &:first-child{
    &:before{
      content: none;
    }
  }
}

@mixin progress-bar-common-style-smaller-devices{

  span{
    padding: 0 10px;
  }

  span.list-bdr-right{
    @include list-bdr-right(10px)
  }


  &:before{
    content: "";
    position: absolute;
    top: -90%;
    transition: all 0.7s ease;
    left: calc(5% - 3px);
    height: 100%;
    border-left: 1px dashed $DarkGrey3;
  }

  &:after{
    content: '';
    display: block;
    background-color: #FFFFFF;
    border: 1px solid $Green;
    width: 20px;
    height: 20px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    transition: all .7s ease;
    position: absolute;
    top: 5%;
    z-index: 1;
  }

  &:first-child{
    &:before{
      content: none;
    }
  }
}
