.modal-xxl{
  max-width: 1400px;
}

.largest-modal{
  .form-check{
    padding-left: 0;
  }
  .modal-body{
    padding: 50px 130px;
  }
  .modal-footer{
    padding: 0 130px 40px;
    justify-content: flex-start;
  }
}

.resolve-issues-modal{
  .modal-header{
    button.close{
      opacity: 1;
      span{
        color: #FFFFFF;
      }
    }
  }

  .modal-body{
    padding: 30px;

    .issue{
      height: 100%;
      padding-right: 50px;


      h5{
        color: $Red;
        margin-bottom: 40px;
      }

    }
  }
}

@media screen  and (max-width: 1199px){
  .largest-modal{

    .modal-dialog{
      max-width: 950px;
    }

    .modal-body{
      padding: 50px 15px
    }

    .modal-footer{
      padding: 0 10px 40px;
      justify-content: center;
    }
  }
}

@media screen  and (max-width: 991px){
  .largest-modal{

    .modal-dialog{
      max-width: 800px;
    }
    .modal-body{
      padding: 50px 15px
    }

    .modal-footer{
      padding: 0 10px 40px;
      justify-content: center;
    }
  }

  .current-jobs{
    .modal-body{
      .f-s-20{
        margin-bottom: 10px;
      }
      .issue{
        border: 0;
      }
    }
  }
}

@media screen  and (max-width: 767px){
  .largest-modal{
    .modal-dialog{
      max-width: 500px;
    }

    .modal-body{
      padding: 50px 15px
    }

    .modal-footer{
      padding: 0 10px 40px;
      justify-content: center;
    }
  }
}

@media screen  and (max-width: 575px){
  .largest-modal{
    .modal-dialog{
      max-width: 560px;
    }
    .modal-footer{
      padding: 0 15px 40px;
    }
  }

  #finishSignatureModal{

      .finish-signature-btns{
        button.btn-md-odie{
          font-size: 16px !important;
          padding: 16px 10px !important;
        }
      }
  }
}

@media screen  and (max-width: 320px){
  .largest-modal{

    .modal-body{
      padding: 50px 15px;
    }
    .modal-footer{
      padding: 0 15px 40px;
    }
  }
}



