@import "tables/pdf-table";

.table{
  &.table-alignment-center{
    tr{
      th{
        text-align: center;
      }
    }
    tr{
      td{
        text-align: center;
      }
    }
  }
  tr{
    th, td{
      font-weight: 700;
    }
  }
}
