@import "variables";

.heading-s-20{
  color: $Black;
  font-weight: 700;
  font-size: 20px;
}
.heading-primary-cportal{
  color: $Black;
  font-size: 20px;
  font-weight: 700;
}
.heading-md-cp{
  font-size: 20px;
  color: $Black;
  font-weight: 700;
}

.heading-md-2-cp{
  font-size: 25px;
  color: $Black;
  font-weight: 700;
}

.heading-lg-cp{
  font-size: 30px;
  color: $Black;
  font-weight: 700;
}
.heading-xl-cp{
  font-size: 36px;
  color: $Black;
  font-weight: 700;
}

.font-size-regular{
  font-size: 16px;
}

.font-size-md-1{
  font-size: 20px;
}
.font-size-md-2{
  font-size: 18px;
}


@media screen and (max-width: 576px){
  .heading-s-20{
    font-size: 16px;
    margin-bottom: 5px !important;
  }
}
