$BdrLightgrey: #EAE5DE;
$BgLightgrey-1: #F7F7F7;
$BgLightgrey-2: #EBEAE8;
$SidebarAnchorClr: #272727;
$BdrOdieGold: #D18808;
$BgOdieGold: #D18808;


/* COLOR PALETTE VARIABLES */

$Black: #272727 !default;
$DarkGrey1: #47494A !default;
$DarkGrey2: #818181 !default;
$DarkGrey3: #B9B9B9 !default;
$Grey: #EBEAE8 !default;
$LightSilver: #F7F7F7 !default;
$Orange: #D18808 !default;
$Green: #628B07 !default;
$Blue: #1774A2 !default;
$RedBright: #BF0101 !default;
$Red: #A40803 !default;
$Pink: #EDE4E4 !default;
$Skin: #EAE5DE !default;
$DarkSkin: #D9D2C9 !default;
$DarkSkin-2: #DFE2DA !default;
$White: #FFFFFF !default;

