  .vbox-close{
    top: 2%;
    right: 2%;
    width: auto;
    color: #FFFFFF !important;
    font-size: 45px;
  }

  .vbox-prev, .vbox-next{
    display: block;
    border: 1px solid #ffffff;
    border-radius: 50%;

    span{
      border-top-color: rgb(255, 255, 255) !important;
      border-right-color: rgb(255, 255, 255) !important;
      top: 11px;
    }


  }

  .vbox-prev{
    left: 1% !important;

    span{
      left: 15px;
    }
  }

  .vbox-next{
    right: 2% !important;

    span{
      right: 15px;
    }
  }

  .vbox-content{
    img{
      width: 50%;
    }
  }
