@import "../../../../scss/variables";

  .signed-estimate-pdf-box{
    border: 1px solid $Green;
    margin-bottom: 50px;

    &-header{
      padding: 18px 20px;
    }

    &-body{
      padding: 30px;
    }

    &-footer{
      position: relative;
      padding: 3px 14px 3px 44px;
    }

    .product-manufaturer-img, .product-img{
      width: 24px;
    }

    .vertical-length-img{
      width: 133px;
    }
  }

  .accepted-estimate-box{
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: $Green;
  }
  .pending-estimate-box{
    position: absolute;
    width: 30px;
    top: 0;
    left: 0;
    bottom: 0;
    text-align: center;
    background-color: $Orange;
  }


.thanks-msg{
  margin-bottom: 60px;

  h1{
    text-align: center;
    font-size: 50px;
    font-weight: 700;
  }
}

.estimation-job-status{
  text-align: center;

  p{
    font-size: 20px;
    font-weight: 700;
  }
}



@media screen and (max-width: 767px){
  .signed-estimate-pdf-box{

    &-header{
      padding: 18px 15px;

      ul.inline-list{
       padding: 0;

       li{
         padding: 0;

         p{
           font-size: 13px;
         }

       }
     }
    }

    &-body{
      padding: 30px 15px;

      .pdf-icon{
        text-align: center;
        margin-bottom: 30px;
      }

      .product-manufaturer-img, .product-info{
        img{
          width: 65px;
        }
        .vertical-length-img{
          width: 133px;
        }
      }

      .product-info{
        margin-bottom: 30px;
      }
    }

    &-footer{
      ul.inline-list{
        li{
          font-size: 13px;
        }
      }
    }
  }

  .thanks-msg{
    h1{
      font-size: 24px;
    }
  }
  .estimate-agreement-status{
    display: none;
  }
}
