<div class="col-md-8 col-lg-7 col-xl-5 mx-auto">
  <div class="signed-estimate-pdf-box accepted-estimate-border">
    <div class="signed-estimate-pdf-box-header bg-clr-grey">
      <ul class="inline-list">
        <li class="list-bdr-right pl-0">
          <p class="heading-s-20 m-0"><i class="fas fa-map-marker-alt mr-2"></i> 1323 South West 7, Cape Coral, FL</p>
        </li>
        <li>
          <p class="heading-s-20 m-0"><i class="fas fa-home mr-2"></i> Main House</p>
        </li>
      </ul>
    </div>
    <div class="signed-estimate-pdf-box-body">
      <div class="row">
        <div class="col-md-4">
          <div class="pdf-icon">
            <img class="img-fluid" src="assets/images/dashboard/icon-pdf.svg" alt="icon-pdf.svg">
          </div>
        </div>
        <div class="col-md-8">
          <div class="pdf-details">
            <div class="estimate-pdf-details">
              <h5 class="heading-s-20">Shingle Estimation</h5>
            </div>
            <div class="row">
              <div class="col-md-6">
                <p class="clr-orange fw-700 mb-0">Material Type</p>
                <p class="clr-black f-s-15">Dimensional Shingle</p>
              </div>
              <div class="col-md-6">
                <p class="clr-orange fw-700 mb-0">Underlayment</p>
                <p class="clr-black f-s-15">Standard</p>
              </div>
              <div class="col-md-6">
                <p class="clr-orange fw-700 mb-0">Product Info</p>
                <div class="product-info">
                  <img class="product-manufaturer-img mr-4" src="assets/images/dashboard/gaf.png" alt="gaf.png">
                  <img class="vertical-length-img" src="assets/images/dashboard/icon-timberlineHDZ.png" alt="icon-timberlineHDZ.png">
                </div>
              </div>
              <div class="col-md-6 mt-auto">
                <div class="product-info">
                  <img class="product-img mr-2" src="assets/images/dashboard/dummy-shingle.jpg" alt="dummy-shingle.jpg">
                  <span class= "f-s-15 primary-black">Mission Brown</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="signed-estimate-pdf-box-footer bg-clr-grey">
      <div class="accepted-estimate-box">
        <i class="far fa-check text-white align-middle"></i>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="inline-list">
            <li class="list-bdr-right-ht-10"><span class="clr-orange fw-700 mr-2">Received On:</span> 04/18/21</li>
            <li>07:00 PM</li>
          </ul>
        </div>
        <div class="col-md-4">
          <div class="text-right">
            <p class="mb-0 fw-700 clr-green estimate-agreement-status">Signed</p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="thanks-msg">
    <h1>Thanks For Signing The</h1>
    <h1 class="clr-orange">Shingle Estimation</h1>
  </div>

  <div class="estimation-job-status">
    <p>To Check The Status of Your Job</p>
    <a class="btn-primary-odie btn-md-odie" href="#">Go To Your Dashboard</a>
  </div>
</div>
