.main-body{
  padding-left: 315px;
  transition: all .7s ease;
}
.main-wrapper{
  padding: 20px;
}

@media screen and (max-width: 320px) {

  .main-wrapper{
    padding: 15px 0;
  }
}

@media screen and (max-width: 1200px){
  .main-body{
    padding-left: 0;
  }
}
