<div class="main-body full-width">
  <div class="container-fluid">
    <div class="row no-gutters">
      <div>
        <app-sidebar></app-sidebar>
      </div>
      <div class="col-md-12">
        <header>
          <customer-app-header></customer-app-header>
        </header>
        <div class="main-wrapper">
          <main>
            <div class="main-inner">
              <router-outlet></router-outlet>
            </div>
          </main>
        </div>
      </div>
    </div>
  </div>
</div>


